#CookielawBanner {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1000;
    /*opacity: 0.9;*/
    width: 100%;
    min-height: 100px;
    /*color: #444444;*/
    color: white;
    font-size: 14px;
    bottom: 0;
    opacity: 1;
}

#CookielawBanner .container {
    position: relative;
}

/*#CookielawBanner #CookielawCross {*/
/*    background: url('../img/close.png') no-repeat 0 0;*/
/*    cursor: pointer;*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 15px;*/
/*    height: 15px;*/
/*}*/

.cookie-law-button {
    display: inline-block;
    background-color: #73AD21;
    color: white;
    text-align: center;
    border-color: transparent;
    border-radius: 0.2rem;
    font-size: 20px;
    /*margin-left: 10px;*/
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    padding: 10px;
}

.cookie-law-button:hover {
    background-color: #46761d;
    color: white;
    text-decoration: none;
}
