<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}Dozen & verzendverpakkingen vergelijken - BoxGuru{% endblock %}</title>
    <meta name="description"
          content="{% block description %}
          Vind de perfecte kartonnen doos! BoxGuru heeft het aanbod voor je verzameld van populaire leveranciers. Zoek tussen duizenden dozen en vind de goedkoopste!
{% endblock description %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <script src="https://kit.fontawesome.com/fcfd91d41d.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            {#            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    {% comment %}Cookie law{% endcomment %}
    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>


    <!--Plugin CSS file with desired skin Rangeslider-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>

    <!--Plugin JavaScript file Rangeslider-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>


    {#    <!-- Add additional CSS in static file -->#}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'cookielaw2.css' %}">


    <!-- Additional fonts -->
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

</head>
<body>
{% load cookielaw_tags %}


<div class="wrap">

    {#    <div class="container-fluid main">#}

    {% block navigation %}


        <nav class="row navigation-row">
            <div class="logo">
                <a href="{% url 'index' %}"><img
                        src="{% static 'products/images/logo/boxguru_logo_v1.svg' %}"
                        alt="BOXGURU"></a></div>
            <a href="{% url 'dozen-op-maat' %}"><h4>DÉ DOZENVERGELIJKER!</h4>
            </a>


            {#                {% if user.is_authenticated %}#}
            {#                    <div><a href="{% url 'account_logout' %}?next={{ request.get_full_path }}"><h6 class="logout">#}
            {#                        Uitloggen: {{ user }}</h6></a>#}
            {#                    </div>#}
            {#                    <a href="{% url 'search-product' %}?liked=1&form=box&initial_search=1"><h4>MIJN BEWAARDE DOZEN</h4>#}
            {#                    </a>#}
            {##}
            {#                {% else %}#}
            {#                    <div><a href="{% url 'account_login' %}?next={{ request.get_full_path }}"><h4>Inloggen</h4></a>#}
            {#                    </div>#}
            {#                    <div><a href="{% url 'account_signup' %}?next={{ request.get_full_path }}"><h4>Registreren</h4></a>#}
            {#                    </div>#}
            {##}
            {#                {% endif %}#}
            <i class="fas fa-bars fa-2x"></i>
        </nav>



        <nav class="menu">

            {% for main_tuple, sub_list in footer_all_categories.items %}
                <div class="dropdown {% if show_initial_category == main_tuple.0 %}active{% endif %}">
                    {% if sub_list|length == 1 %}
                        <a href="{% url 'browse-maincategory' hoofdcategorie=main_tuple.2 %}">
                            <button class="dropbtn">{{ main_tuple.1 }}</button>
                        </a>
                    {% else %}
                        <button class="dropbtn">{{ main_tuple.1 }}
                            <div class="arrowDown menuArrow"></div>
                        </button>
                    {% endif %}
                    <div class="dropdown-content">

                        {% if sub_list|length > 1 %}
                            <a class="all-cat-link"
                               href="{% url 'browse-maincategory' hoofdcategorie=main_tuple.2 %}">ALLE {{ main_tuple.1 }}</a>
                            {% for category_tuple in sub_list %}
                                <a href="{% url 'browse-subcategory' subcategorie=category_tuple.2 hoofdcategorie=main_tuple.2 %}">{{ category_tuple.1 }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="dropdown">
                <a href="{% url 'mijn-bewaarde-dozen' %}?liked=2&form=box&initial_search=1">
                    <button class="dropbtn">MIJN BEWAARDE
                        DOZEN
                    </button>
                </a>
            </div>

        </nav>
    {% endblock navigation %}

    {% block site-info %}
    {% endblock site-info %}

    {% block breadcrumbs %}
    {% endblock breadcrumbs %}

    {% block content %}

        <div class="row d-flex justify-content-center">
            <div class="text-center col-xs-12 col-sm-8">
                {% block welcome %}


                {% endblock welcome %}

            </div>
        </div>

    {% endblock content %}

    {% block seo %}
    {% endblock seo %}

    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endblock %}


    {% block footerspacer %}
        <div class="row footer-spacer"></div>
    {% endblock footerspacer %}

    {% block footer %}
        {#        <div class="wrap">#}
        {#            <div class="container-fluid main">#}

        <footer class="footer">

            <div class="row all-boxes">
                <div class="col-sm-12 col-md-3">
                    <div class="p-3">
                        <h4>CONTACT</h4>
                        <p class="email">
                            Vragen, opmerkingen of feedback?<br>
                            info@boxguru.nl</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3">
                        <h4>ALLE SOORTEN DOZEN</h4>
                        {#                            {% for url in footer_urls %}#}
                        {#                                <div>#}
                        {#                                    <a href="{% url 'browse-subcategory' hoofdcategorie='test' subcategorie=url.2 %}">{{ url.0 }}</a>#}
                        {#                                </div>#}
                        {#                            {% endfor %}#}
                        <div class="footer-all-boxes">
                            {% for main_tuple, sub_list in footer_all_categories.items %}
                                {% if sub_list|length > 1 %}
                                    <div class="footer-category-section">
                                        <a class=top-link
                                           href="{% url 'browse-maincategory' hoofdcategorie=main_tuple.2 %}">{{ main_tuple.1 }}</a>

                                        <div>
                                            {% if sub_list|length > 1 %}
                                                {% for category_tuple in sub_list %}

                                                    <a href="{% url 'browse-subcategory' subcategorie=category_tuple.2 hoofdcategorie=main_tuple.2 %}">{{ category_tuple.2 }}</a>

                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for main_tuple, sub_list in footer_all_categories.items %}
                                {% if sub_list|length == 1 %}

                                    <div class="footer-category-section">
                                        <a class=top-link
                                           href="{% url 'browse-maincategory' hoofdcategorie=main_tuple.2 %}">{{ main_tuple.1 }}</a>

                                        <div>
                                            {% if sub_list|length > 1 %}
                                                {% for category_tuple in sub_list %}

                                                    <a href="{% url 'browse-subcategory' subcategorie=category_tuple.2 hoofdcategorie=main_tuple.2 %}">{{ category_tuple.2 }}</a>

                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
            <div class="row bottom">
                <div class="col-1"></div>
                <div class="col-10">
                    <p>Goedkope dozen | Vergelijk verzendverpakkingen | Vergelijk gratis op Boxguru.nl</p>
                    <p>&copy Boxguru 2020</p>
                </div>
                <div class="col-1"></div>


            </div>

        </footer>
    {% endblock footer %}

</div>

{% cookielaw_banner %}

</div>



{% block js %}
    <script>
        $('.fas.fa-bars').click(function () {
                $('nav.menu').toggle();
            }
        )
    </script>
{#    <script>#}
{#        $(window).resize(function () {#}
{#            if ($(window).width() > 785) {#}
{#                console.log($(window).width());#}
{#                $('nav.menu').show()#}
{#            } else {#}
{#                $('nav.menu').hide()#}
{#            }#}
{#        });#}
{##}
{#    </script>#}
    <script>
        $(document).click(function(){
            $(document).find('.dropdown-content:visible').hide()
        })
    </script>
{% endblock %}

{% block js_searchAndHome %}
    <script>

        {% if force_show_categories %}
            {% comment %}When selecting categories on home page{% endcomment %}
            $('#id_category').change(function () {

                    var categoryWrapper = $('.box-categories');
                    categoryWrapper.find('.category-section:visible').hide();
                    categoryWrapper.show();

                    var selected_value = $(this).val();
                    var category_text_element = $('#category_' + selected_value);
                    category_text_element.show();
                    if (selected_value === '') {
                        categoryWrapper.hide();
                    }
                }
            );
        {% else %}
            {% comment %}When selecting on a sub category landing page{% endcomment %}
            $('#id_category').change(function () {

                    var categoryWrapper = $('.box-categories');
                    categoryWrapper.find('.category-section:visible').hide();
                    categoryWrapper.hide();

                    $('.box-category-text.hidden').show();

                    {% comment %}var selected_value = $(this).val();
                    var category_text_element = $('#category_' + selected_value);
                    category_text_element.show();
                    if (selected_value === '') {
                        categoryWrapper.hide();
                    }{% endcomment %}
                }
            );

        {% endif %}

        $('.close').click(function () {
            var categoryWrapper = $('.box-categories');
            categoryWrapper.find('.category-section:visible').toggle();
            categoryWrapper.hide();
        });

        $('.info-icon').click(function () {

            var categoryWrapper = $('.box-categories');

            var selected_category = $('#id_category').val();
            var category_text_element = $('#category_' + selected_category);
            category_text_element.toggle();
            if (selected_category) {
                categoryWrapper.toggle();
            }

        })

    </script>
{% endblock %}

</body>
</html>