<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    {% block title %}<title>BoxGuru</title>{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/fcfd91d41d.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>

    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}

    {% load static %}


    {#    <!-- Add additional CSS in static file -->#}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <!-- Additional fonts -->
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

</head>
<body>
<div class="wrap">
    <div class="container-fluid main">

        {% block navigation %}


            <div class="row navigation-row">
                <div class="logo">
                    <a href="{% url 'index' %}"><img
                            src="{% static 'products/images/logo/boxguru_logo_v1.svg' %}"
                            alt="BOXGURU"></a></div>
                {% if user.is_authenticated %}
                    <div><a href="{% url 'account_logout' %}?next={{ request.get_full_path }}"><h6 class="logout">
                        Uitloggen: {{ user }}</h6></a></div>

                {% else %}
                    <div><a href="{% url 'account_login' %}?next={{ request.get_full_path }}"><h4>Inloggen</h4></a>
                    </div>
                    <div><a href="{% url 'account_signup' %}?next={{ request.get_full_path }}"><h4>Registreren</h4></a>
                    </div>

                {% endif %}

            </div>


        {% endblock %}

        {% block site-info %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
                </div>
            {% endif %}
        {% endblock %}
    </div>
</div>


{% block footer %}

    <footer class="footer">
        <div class="row footer-spacer"></div>
        <div class="row all-boxes">
            <div class="col-1"></div>
            <div class="col-10">
                <h4>ALLE SOORTEN DOZEN</h4>
                {% for url in footer_urls %}
                    <div><a href="{% url 'footer-search' category_name=url.2 %}">{{ url.0 }}</a></div>
                    {#                    {% url 'panel_person_form' person_id=item.id %}#}
                {% endfor %}
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row bottom">
            <div class="col-1"></div>
            <div class="col-10">
                <p>Goedkope dozen | Vergelijk verzendverpakkingen | Vergelijk gratis op Boxguru.nl</p>
                <p>&copy Boxguru 2019-2020</p>
            </div>
            <div class="col-1"></div>


        </div>

    </footer>
{% endblock %}



{% block js %}
{% endblock %}

</body>
</html>