<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>BoxGuru</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}

    {% load static %}

    <!-- Data tables -->
    <link rel="stylesheet" type="text/css" href="{% static 'products/DataTables/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'products/DataTables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'products/DataTables/naturalSort.js' %}"></script>

    <!-- Add additional CSS in static file -->
    <link rel="stylesheet" href="{% static 'products/styles.css' %}">

{#    <!-- Table sorter -->#}
{#    <script src="{% static 'products/sorttable.js' %}"></script>#}

    <!-- Add additional fonts here -->
    <link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>
</head>
<body>

<div class="container">

    {% block navigation %}
        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'index' %}">Home</a>
                <a href="{% url 'search-product' %}">Search</a>
                {#                <a href="">All manufacturers</a>#}
                {#                <a href="{% url 'products' %}">All products</a>#}
                {#                <a href="{% url 'producttypes' %}">All product types</a>#}
                {#                <a href="{% url 'colors' %}">All colors</a>#}
                {#                <a href="{% url 'wallthickness' %}">All wallthickness</a>#}
            </div>
            <div class="col-md-4 ml-auto">
                {% if user.is_authenticated %}
                    <br>
                    <ul>User: {{ user.get_username }}</ul>
                    <ul><a href="{% url 'my-liked' %}">My liked</a></ul>
                    <ul><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></ul>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
                {% endif %}
                {% if perms.products.can_see_all_liked_products %}
                    <br>
                    <li>Staff</li>
                    <li><a href="{% url 'all-liked' %}">All liked products</a></li>

                {% endif %}
            </div>
        </div>


    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% endblock %}
</div>


</body>
</html>