{% extends 'base_generic.html' %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <h1 class="mt-4">Privacyverklaring BoxGuru</h1>
            <p>
                De bescherming van uw privacy en uw persoonlijke gegevens is belangrijk voor ons. Daarom gebruiken wij
                uw
                persoonlijke gegevens uitsluitend in het kader van de wettelijke bepalingen van de algemene verordening
                gegevensbescherming. Met dit privacybeleid informeren wij u over de persoonlijke gegevens die wij
                verzamelen wanneer
                u onze website en diensten gebruikt.

                BoxGuru verzamelt en gebruikt uw persoonlijke gegevens uitsluitend in het kader van de bepalingen van de
                algemene
                verordening gegevensbescherming. Hieronder informeren wij u over de aard, omvang en doeleinden van het
                verzamelen en
                gebruiken van persoonsgegevens. U kunt deze informatie te allen tijde inzien op onze website op
                www.boxguru.nl.

                Als u vragen of problemen heeft met betrekking tot gegevensbescherming, kunt u contact opnemen met
                info(at)boxguru.nl.
            </p>

            <h4>Omvang van de gegevensbescherming</h4>
            <p>
                Gegevensbescherming heeft betrekking op persoonsgegevens in de zin van de algemene verordening
                gegevensbescherming,
                d.w.z. alle informatie betreffende een geïdentificeerde of identificeerbare natuurlijke persoon.
                Identificeerbaar is
                een natuurlijke persoon die direct of indirect kan worden geïdentificeerd, met name door toewijzing aan
                een
                identificatiemiddel zoals een naam, een identificatienummer, locatiegegevens, een
                online-identificatiemiddel of een
                of meer bijzondere kenmerken. Gebruiksgegevens zijn gegevens die noodzakelijk zijn voor het gebruik van
                onze
                website, bijvoorbeeld gegevens over het begin, einde en omvang van het gebruik van de website door de
                gebruiker.
            </p>
            <h4>Automatische gegevensverzameling via websitebezoek</h4>
            <p>Wanneer u onze website bezoekt, www.boxguru.nl, verzendt uw apparaat om technische redenen automatisch
                bepaalde
                gegevens. De volgende gegevens worden afzonderlijk opgeslagen van alle andere gegevens die u naar ons
                kunt
                verzenden:
            </p>
            <ul>
                <li>tijd en datum van het bezoek</li>
                <li>
                    webbrowsertype en -versie
                </li>
                <li>
                    besturingssysteem
                </li>
                {#URL van de eerder bezochte website#}
                {#hoeveelheid verstuurde gegevens#}
                <li>naam van aanvragend domein</li>
                <li>
                    melding van succesvolle gegevensontvangst
                </li>
                {#zoekterm bij gebruik van een webbrowser#}
                <li>Verkort/geanonimiseerd IP-adres</li>
                <li>IP-adres</li>
            </ul>

            <p>Deze gegevens worden opgeslagen om zuiver technische redenen en zijn niet verbonden met een bepaalde
                persoon. De
                gegevens over websitebezoeken worden gebruikt voor foutenanalyse, om de veiligheid van de systemen te
                waarborgen.
                Het volledige IP-adres wordt opgeslagen voor een zeer korte periode van maximaal 14 dagen uit legitieme
                belangen om
                de genoemde doelen te bereiken.</p>

            <h4>Overige gegevensverzameling</h4>
            <p>
                Als u een doos heeft gevonden en doorklikt naar een leverancier wordt deze specifieke url opgeslagen. Op
                deze manier
                kunnen wij in de gaten houden hoe succesvol onze website is.
            </p>
            <h4>Cookies</h4>
            <p>We gebruiken zogenoemde "cookies" om uw gebruikerservaring te verbeteren. Cookies zijn kleine bestanden
                die met
                behulp van uw internetbrowser op uw computer worden opgeslagen. Als u geen cookies wenst te ontvangen,
                kunt u het
                opslaan van cookies op uw computer uitschakelen door de instellingen van uw browser dienovereenkomstig
                aan te
                passen. Houd er rekening mee dat de functionaliteit van de website kan worden aangetast en dat het scala
                aan
                functies kan worden beperkt als u cookies deactiveert.

                Wij maken gebruik van de volgende cookies:

            <li>Een cookie om bewaarde dozen op te slaan zodat u deze kunt vergelijken</li>
            <li>Een cookie die uw sessie-id opslaat. Deze cookie wordt vervolgens gebruikt om geselecteerde filters te
                bewaren en
                andere sessie specifieke voorkeuren te bewaren.
            </li>
            </p>
            <h4>Veranderingen aan de privacyverklaring</h4>
            <p>
                We behouden het recht om deze privacyverklaring te veranderen. De actuele versie van de
                privacyverklaring is altijd
                beschikbaar op www.boxguru.nl/privacy.
                <br>
                Laaste update op: februari 2020
            </p>
        </div>
    </div>
{% endblock %}