{% load i18n %}
<div id="CookielawBanner">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-8">
                <p>BoxGuru maakt gebruikt van cookies en vergelijkbare technieken. Lees onze <a class="privacy"
                        href="{% url 'privacy-statement' %}">privacyverklaring</a> voor meer informatie.
                </p>
            </div>
            <div class="col">
                <a class="cookie-law-button" href="javascript:Cookielaw2.createCookielawCookie();">BEGREPEN</a>
            </div>
        </div>
    </div>
</div>
