#CookielawBanner {
    background: #2b2b2b;
    padding: 100px 0;
    position: absolute;
    z-index: 1000;
    opacity: 0.9;
    width: 100%;
    color: white;
}

#CookielawBanner .container {
    position: relative;
}

#CookielawBanner #CookielawCross {
    background: url('../img/close.png') no-repeat 0 0;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}
