.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.jumbotron {
    background-color: #ec42f5;
}

.btn-primary {
    background-color: lightslategray;
}

#filter-picks {
    background-color: #ec42f5
}

#filter {
    color: green;
}

.item {
    display: flex;
    flex-direction: row;
}

/*FORMS STYLES*/


.input-group-text {
    width: 28px;
}


.info-block {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;

}

.info-block-2 {
    border-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.info-block-middle {
    border-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.info-block-right {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    position: relative;
}

.searchButton {
    display: block;
    width: 100%;
    border-radius: 0.2rem;
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-top: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

.searchButton:hover {
    background-color: #7900b3;
}

#diameter_container {
    display: none;
}


/*Checkbox search*/
.checkbox-cell {
    width: 50% !important;
    /*text-align: center;*/
}

label {
    margin-left: 18px;
}

label input[type='checkbox'] {
    margin-left: -18px;
}


/*Overall style text*/

body {
    font-family: Arvo, Charcoal, sans-serif;
}

h1 {
    font-size: 40px;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    color: #5e008b;
}

h1.main-title {
    font-size: 10vw
}

h3 {
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: #5e008b;
}

h4 {
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5e008b;
    margin: 20px 0.25rem 0.1rem 0;
}

h6 {
    font-size: 15px;
}

h6.logout {
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    color: white;
    margin-top: 8px;
}


/*Tabs and search navigation*/

.tab-content {
    color: #fff;
}

.nav-tabs {
    /*background-color: #ec42f5;*/
    border-bottom: medium none;
    /*border-top: 0.2rem;*/
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.capitalize {
    text-transform: capitalize;
}


.nav-tabs > a.active {
    background-color: #73AD21 !important;
    border: medium none;
    border-top: 0.2rem;
    color: white !important;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center

}

.nav-tabs > a {
    background-color: white;
    border: medium none;
    border-top: 0.2rem;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-link {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 45px;
}

.nav-link:hover {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #cdfac3;
    height: 45px;
}

/*Table style*/

@media (max-width: 785px) {
    .table-wrapper {
        display: none;
    }

    .product-filter-normal {
        display: none;
    }

}

.table-wrapper {
    margin-top: 50px;
    /*box-shadow: 0 -15px 15px -15px #333;*/
    overflow: auto;
    overflow-y: hidden;
    /*border-top: 10px solid #73AD21;*/


}

@media (min-width: 786px) {
    .results-mobile {
        display: none;
    }

    .product-filter-mobile {
        display: none;
    }
}

.product-filter-mobile {
    margin-bottom: 40px;
}

table {
    overflow-x: scroll;
    overflow-y: hidden;
    display: table;
}

table.table-center {
    margin-left: 0;
    margin-right: auto;
    min-width: 80%;
    width: 100%;
    margin-top: 0;
    font-size: 12px;
}

table.table-mobile {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 12px;
    /*font-family: Arial, sans-serif;*/
    box-shadow: 0 -5px 15px -5px #333;
    border-radius: 10px;
}

table.table-mobile td {
    border: none;
    width: 35%;
}

table.table-mobile td:nth-child(3) {
    width: 15%;
}

table.table-mobile tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}

table.table-mobile tr:first-child td:last-child {
    border-radius: 0 10px 0 0;
}

table.table-mobile tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

table.table-mobile tr:nth-child(3) td:last-child {
    border-radius: 0 0 10px 0;
}

th {
    border-radius: 10px 0 0 0;
}

td {
    position: relative;
    text-align: center;
    overflow-wrap: break-word;
    vertical-align: middle !important;
    word-break: normal;
}


tr.row-spacer {
    height: 20px;
    background-color: transparent;
    border: none;
}

th {
    text-align: center;
    position: relative;
    /*white-space: nowrap;*/
}

.table th {
    padding: 0.5rem 0.25rem 0.75rem 0.25rem;
    font-family: Arial, sans-serif;
    text-align: center;

}

.table td {
    /*padding-bottom: 6px;*/
    /*padding-top: 6px;*/
    padding: 6px;
    /*font-family: Arial, sans-serif;*/
    text-transform: capitalize;
}

.table td .lowercase, .table td .tooltiptext {
    text-transform: none;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #d4edda;
}

img.product-thumb {
    /*width: 30px;*/
    height: 50px;
}

img.product-thumb:hover {
    cursor: pointer;
}

.popover {
    max-width: 1000px;
}

/*RESULTLIST*/

.resultlist {
}

.resultlist li {
    list-style-type: none;

}

.resultlist ul {
    padding-inline-start: 0;

}

.resultlist div.pagination-block {
    margin-right: 0;
    width: min-content;
    margin-top: 0;
    display: inline-block;
    /*transform: translate(-50%, -120%);*/

}

.pagination-bottom {
    display: flex;
    justify-content: space-between;
}

.pagination-bottom-mobile {
    display: flex;
    justify-content: center;
}

.table-top-wrap {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.mobile-table-top {
    /*display: flex;*/
}

.filter-col {
    margin-top: 20px;
}

.box {
    margin: auto;
    margin-bottom: 1rem;
    width: 100%;
    /*padding: 5px;*/
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    border-radius: 5px;
}

.box div {
    font-size: 10px;
    min-width: 40px;
    border: 1px solid black;
}


/*.box span {*/
/*    padding: 5px;*/
/*}*/

.box a.cover {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    text-decoration: none;
    color: black;
}

div.all-icons {
    min-width: 200px;
    height: 50px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    line-height: 50px;
    text-align: center;
}

.box .product-type {
    display: table-cell;
    width: 200px;
    height: 50px;
    vertical-align: middle;
    /*text-wrap: normal;*/
    /*border: 1px solid black;*/
    line-height: 50px;
    background-color: #f3f3f3;
}

/*.box .dimensions {*/
/*    display: table-row;*/
/*    !*width: max-content;*!*/
/*    !*background-color: #73AD21;*!*/
/*    min-width: 150px;*/
/*    text-align: justify;*/
/*    text-align-last: justify;*/
/*    border-left: 1px solid darkgrey;*/
/*}*/

.box div.dimensions {
    width: 200px;
    display: flex;
    justify-content: start;
    background-color: white;
    /*border: 1px solid black;*/
    border-collapse: collapse;
    height: 50px;
    line-height: 50px;
    text-align: center;
}


.width, .length, .height {
    width: calc(100% / 3);
    text-align: left;
    /*border: 1px solid black;*/


}

.var-height {
    width: calc(100% / 3);
    text-align: left;
    /*border: 1px solid black;*/
}


.box .match {
    position: relative;
    display: inline-block;
}

div.match {
    width: 65px;
}

.info-icon i.bullseye {
    /*content: '';*/
    /*position: absolute;*/
    background: url("/static/products/icons/bullseye_redbull.svg");
    background-size: 15px;
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 3px;
    border-radius: 0;
}

.enkelgolf {
    background: url("/static/products/icons/wallthickness_single layer.svg");
    border: 1px solid grey;
    box-sizing: border-box;
}

.dubbelgolf {
    background: url("/static/products/icons/wallthickness_double layer.svg");
    border: 1px solid grey;
    box-sizing: border-box;


}

.driedubbelgolf {
    background: url("/static/products/icons/wallthickness_triple layer.svg");
    border: 1px solid grey;
    box-sizing: border-box;
}

.quality .standaard {
    background: url("/static/products/icons/wallthickness_standard_wallthickness.svg");
    border: 1px solid grey;
}


.box {
    line-height: 30px;
}

span.price-staffel {
    color: #007bff;
    position: relative;
    padding-left: 0;
}

.price-staffel:hover {
    text-decoration: underline;
    cursor: crosshair;
}

/*.color, .quality, .price, .price-staffel {*/
/*    position: relative;*/
/*}*/

.info-icon i {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: 28px;
}

.blauw {
    background-color: #1B3DE2;
}

.bruin {
    background-color: peru;
}

.fuchsia {
    background-color: #f80087;
}

.goud {
    background-color: goldenrod;
}

.grijs {

    background-color: #979797;
}

.groen {
    background-color: #73AD21;
}

.oranje {
    background-color: orange;
}

.paars {
    background-color: #5e008b;
}

.rood {
    background-color: red;
}

.roze {
    background-color: pink;
}

.color .standaard {
    background: url("/static/products/icons/color_standard_color.svg");
}

.wit {
    background-color: white;
    border: 1px solid grey;
}

.zilver {
    background-color: silver;
}

.zwart {
    background-color: black;
}

.standard-size {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-family: "Abadi MT Condensed Extra Bold", sans-serif;
    /*margin-right: 3px;*/
}

.standard-size::after {
    content: '';
    position: absolute;
    background: url("/static/products/icons/standard_size_paper_size.svg");
    /*background-color: red;*/
    top: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 30px;
    width: 30px;
    height: 30px;
    display: block;
}

/*STAFFELDISCOUNT*/
.staffel {
    color: #007bff;
    position: relative;
}

.staffel:hover {
    text-decoration: underline;
    cursor: crosshair;
}


.popover-table td, .popover-table th {
    text-align: center;
    border: none !important;
    padding: 5px;
}


.tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 200px;
    background-color: #73AD21;
    color: #fff;
    /*text-align: center;*/
    padding: 5px;
    border-radius: 6px 6px 6px 6px;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 100%);
    font-family: Arvo, Charcoal, sans-serif;
    font-size: 12px;
    line-height: 15px;
    /*text-align: justify;*/
    /*text-align-last: justify;*/
}

.tooltiptext::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #73AD21;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
}

td.staffel:hover .tooltiptext {
    visibility: visible;
}

td:hover .tooltiptext {
    visibility: visible;
}

td.staffel .staffel-header {
    font-weight: bold;
    letter-spacing: 1px;
}

span.info-icon {
    min-width: 40px;
    position: relative;
    text-align: center;
}

span.empty-info-icon {
    min-width: 40px;
}

span.info-icon:hover .tooltiptext {
    visibility: visible;
}

span.staffel .staffel-header {
    font-weight: bold;
    letter-spacing: 1px;
}

/*arrow*/
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
    position: absolute;
    left: 100px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;

    border-left: 60px solid green;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid blue;
}


/*ARROWS*/
div.arrowDown {
    position: absolute;
    margin: auto;
    /*top: 70%;*/
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    border-color: grey transparent transparent transparent;
}


div.arrowUp {
    position: absolute;
    margin: auto;
    /*top: 70%;*/
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 5px 3px;
    border-color: transparent transparent grey transparent;

}


/*FILTER STYLES*/
h4.filter-title {
    font-size: 30px;
    margin-left: 0;
    margin-top: 0;
    margin-right: auto;
    display: inline-block;
}

h4.filter-title.center {
    font-size: 30px;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.filter-title span {
    color: #73AD21;
    font-size: 30px;
}

.filter-title span.no-results {
    color: #d5006b;
    font-size: 30px;
}


#filters span {
    font-size: 0.7rem;
}

input.chk {
    height: 12px;
    padding: 0;
}

#filters div {
    height: 20px;
}

#filters div label {
    height: 20px;
}

#filters div label input {
    height: 12px;
    padding: 0;
}


.filter-section a {
    background-color: #73AD21;
    color: white;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem 0 0;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    /*width: available;*/
    font-size: .875rem;
    white-space: normal;
    text-decoration: none;
    display: inline-flex;
    font-weight: bold;
}


/*#### FOR MOBILE #####*/
/*.filter-section a {*/
/*    background-color: #73AD21;*/
/*    color: white;*/
/*    padding: 0.2rem 0.2rem 0.2rem 0.2rem;*/
/*    margin: 0.15rem 0 0 0;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    border-radius: 0.2rem;*/
/*    !*width: available;*!*/
/*    font-size: 10px;*/
/*    white-space: normal;*/
/*    text-decoration: none;*/
/*    display: inline-flex;*/
/*    font-weight: bold;*/
/*}*/


.filter-section a:hover {
    text-decoration: none;
    color: white;
    background-color: #568219;
}


a.show-liked-boxes:hover {
    background-color: #73AD21;
    color: white;
}

a.show-liked-boxes {
    display: block;
    border-radius: 0.2rem;
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-top: 0.5rem;
    color: white;
    font-size: 10px;
    text-align: center
}

a.show-liked-boxes.big {
    font-size: 14px;
    margin-bottom: 20px;
    width: 214px;
    box-sizing: content-box;
}

a.show-liked-boxes:hover {
    text-decoration: none;
    background-color: #7900b3;

}

button.show-liked-boxes {
    display: inline-block;
    border-radius: 0.2rem;
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-top: 0.5rem;
    color: white;
    font-size: 10px;
    border: none;
    text-align: center;
}

button.show-liked-boxes:hover {
    text-decoration: none;
    background-color: #7900b3;
}

button.show-liked-boxes.delete {
    background-color: #d5006b;
}

button.show-liked-boxes.delete:hover {
    background-color: #f80087;
}

.filter-section a.active {
    /*background-color: #568219;*/
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    width: auto;
    text-transform: uppercase;
    font-weight: lighter;
}

.filter-section a.disabled {
    background-color: #c5c5c5;
}

.filter-section a.active.disabled {
    background-color: #d5006b;
}

.filter-section a.active.disabled:hover {
    background-color: #f80087;
}


.filter-section a.active:hover {
    background-color: #73AD21;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    width: auto;
    text-transform: uppercase;
    font-weight: lighter;

}

.filter-section a.deactivate-all {
    background-color: #d5006b;
    color: white;
    border-radius: 1rem;
    width: 40px;
    height: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-color: transparent;
}

.filter-section a.deactivate-all::after {
    content: 'wis';
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.filter-section div.measurement-filter-header a.deactivate-all {
    background-color: #d5006b;
    color: white;
    border-radius: 1rem;
    width: 50px;
    height: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-color: transparent;
}

.filter-section div.measurement-filter-header a.deactivate-all:hover {
    background-color: #f80087;
}

.filter-section div.measurement-filter-header a.deactivate-all::after {
    content: 'reset';
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


.filter-section a.deactivate-all:hover {
    background-color: #f80087;
    color: white;
    /*border: 1px solid #73AD21;*/
    /*color: white;*/
}

.filter-section div.title {
    position: relative;
}

.filter-section div h4 {
    display: inline-block;
}

.filter-section div a {
    display: inline-block;
    position: absolute;
    /*transform: translate(0, -50%);*/
}

.measurement-filter-button {
    display: inline-block;
    border-radius: 0.2rem;
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-top: 0.5rem;
    color: white;
    font-size: 15px;
}

.measurement-filter-button:hover {
    background-color: #7900b3;
}


/*SLIDER STYLES*/
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single,
.irs--flat .irs-bar,
.irs--flat .irs-handle > i:first-child {
    background-color: #73AD21 !important;
}

.irs--flat .irs-to:before,
.irs--flat .irs-from:before,
.irs--flat .irs-single:before {
    border-top-color: #73AD21 !important;
}

.slider {
    display: inline-block;
    width: 80%;
    /*min-width: 200px;*/
    max-width: 800px;
}

/*.filter-section div, .filter-section a {*/
/*    display: none;*/
/*}*/

/*input[type=checkbox].filter-toggle {*/
/*   position: absolute;*/
/*   display: none;*/
/*}*/

/*label {*/
/*  -webkit-appearance: push-button;*/
/*  -moz-appearance: button;*/
/*  display: block;*/
/*  !*margin: 60px 0 10px 0;*!*/
/*  cursor: pointer;*/
/*}*/

/*input[type=checkbox].filter-toggle:checked ~ .filter-section div a,*/
/*input[type=checkbox].filter-toggle:checked ~ .filter-section a.deactivate-all {*/
/*   display: inline-block;*/
/*}*/

/*input[type=checkbox].filter-toggle:checked ~ .filter-section a {*/
/*    display: inline-flex;*/
/*}*/

/*input[type=checkbox].filter-toggle:checked ~ .filter-section div {*/
/*    display: block;*/
/*}*/


/*FILTER POP-UP*/
html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
    width: 100%;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    /*for pop up*/
    position: relative;
    z-index: -1;
}

.wrap {
    min-height: 1000px;
    width: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    /*margin-top: -150px; !* negative value of footer height *!*/
    height: 150px;
    /*clear: both;*/
    padding-top: 0px;
}

.footer-spacer {
    height: 200px;
}

.bottom p {
    color: #2b2b2b;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}

.email {
    color: white;
    font-size: 15px;
}

.all-boxes {
    background-color: #5e008b;
    padding-bottom: 20px;
}

.all-boxes h4 {
    color: white;
}

.all-boxes a {
    color: white;
    padding-right: 10px;
    display: block;
    width: max-content;
}

.all-boxes a::first-letter {
    text-transform: uppercase;
}

.all-boxes div {
    display: inline-block;
}


.filter-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    right: 0;
    display: none;
}

.filter-pop-up {
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    margin-left: 15%;
    margin-right: 30%;
    margin-top: 15%;
    display: none;
    min-width: 360px;
}

.filter-column {
    display: flex;
    justify-content: center;
}

.filter-section {
    padding: 0 20px 0px 20px;
    min-width: 200px;
    width: 100%;
    /*overflow-y: scroll;*/
    /*height: 500px;*/
    /*display: none;*/
}

.filter-section span.filter-count {
    font-size: 12px;
    color: #cbea99;
}

.filter-section .active span.filter-count {
    font-size: 12px;
    color: white;
}

.filter-section label {
    background-color: #73AD21;
    color: white;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem 0 0;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    /*width: available;*/
    font-size: .875rem;
    white-space: normal;
    text-decoration: none;
    display: inline-flex;
}

.filter-section label:hover {
    text-decoration: none;
    color: white;
    background-color: #568219;
}

.filter-section input[type='checkbox']:checked + label {
    /*background-color: #568219;*/
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    width: auto;
    text-transform: uppercase;
    font-weight: lighter;
}

.filter-section input[type='checkbox']:checked + label:hover {
    background-color: #7900b3;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    width: auto;
    text-transform: uppercase;
    font-weight: lighter;

}

.filter-section input[type='checkbox'] {
    display: none;
}

.filter-background.active {
    display: block;
}

.filter-section button.deactivate-all {
    background-color: #d5006b;
    color: white;
    border-radius: 1rem;
    width: 40px;
    height: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-color: transparent;
}

.filter-section button.deactivate-all:hover {
    background-color: #f80087;
}

.filter-section button.deactivate-all::after {
    content: 'wis';
    font-size: 0.8rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.filter-column {
    min-width: 200px;
}

.filterButton {
    border-radius: 0.2rem;
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: white;
    font-size: 1.5rem;
    /*margin: 20px 20px 20px 20px;*/
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*.filter-reset {*/
/*    background-color: #d5006b;*/
/*    color: white;*/
/*    width: fit-content;*/
/*    height: 30px;*/
/*    text-align: center;*/
/*    !*position: absolute;*!*/
/*    !*display: inline-block;*!*/
/*    border-color: transparent;*/
/*    border-radius: 0.2rem;*/
/*    font-size: 12px;*/
/*    !*margin-left: 10px;*!*/
/*    margin-top: 16px;*/
/*}*/

.filter-section a.filter-reset {
    display: inline-block;
    background-color: #d5006b;
    color: white;
    text-align: center;
    border-color: transparent;
    border-radius: 0.2rem;
    font-size: 20px;
    /*margin-left: 10px;*/
    margin-top: 16px;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
}

.filter-section a.filter-reset:hover {
    background-color: #f80087;
    color: white;
}


div.filter-apply {
    padding: 0;
    box-shadow: 0 -5px 15px -5px #333;
    justify-content: center;
    display: flex;
}

div.filters-title div {
    padding: 10px;
    box-shadow: 0 5px 15px -5px #333;
    display: flex;
    width: 100%;
}

div.filters-title div h1 {
    /*display: inline-block;*/
    padding-left: 1.5rem;
}

.close-filters {
    background-color: #d5006b;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-color: white;
    margin-left: auto;

}

.close-filters:hover {
    background-color: #f80087;
}

.close-filters::after {
    content: '×';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}


/*SORTING DROPDOWN MENU*/
.orderbtn {
    display: inline-block;
    background-color: #73AD21;
    color: white;
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
    border-radius: 0.2rem;
    width: 230px;
    font-size: .875rem;
}

.orderOps {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.orderOps-content {
    display: none;
    position: absolute;
    background-color: #73AD21;
    width: 230px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 0.2rem 0.2rem;
    overflow: hidden;
    border: 5px black;
}

.orderOps-content a {
    color: white;
    padding-top: 0.1rem;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: .875rem;
    max-height: 25px;
    text-align: center;
    border-bottom: solid 0.25px;
    border-color: #65991d;

}

.orderOps-content a:hover {
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    /*font-size: 40px;*/
    letter-spacing: 1px;
    text-transform: uppercase;

}

.orderOps:hover .orderOps-content {
    display: block;
}

.orderOps:hover .orderbtn {
    background-color: #568219;
    border-radius: 0.2rem 0.2rem 0 0;
}

/*a.sortOrder {*/
/*}*/

/*.sortOrder {*/
/*    position: relative;*/
/*    background-color: #73AD21;*/
/*    !*border: #73AD21 solid;*!*/
/*    border-radius: 0.2rem;*/
/*    width: 40px;*/
/*    height: 37px;*/
/*    display: inline-block;*/
/*    margin-bottom: 1rem;*/
/*    margin-left: 0.5rem;*/
/*}*/

a.sortOrder {
    /*margin-top: 10px;*/
    vertical-align: top;
    position: relative;
    background-color: #73AD21;
    /*border: #73AD21 solid;*/
    border-radius: 0.2rem;
    width: 40px;
    height: 37px;
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.sortOrder:hover {
    background-color: #568219;
}

a.sortOrder i {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


div.sortDown {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 6px 0 6px;
    border-color: white transparent transparent transparent;
}

div.sortUp {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 9px 6px;
    border-color: transparent transparent white transparent;

}

/*PAGE ITEM*/

.pagination-break {
    height: 50%;
    padding: 0.6rem;
    /*border-bottom: dotted #dee2e6 1px;*/
    width: 10px;
    background-image: linear-gradient(to right, #dee2e6 50%, white 20%);
    background-position: bottom;
    background-size: 3px 2px;
    background-repeat: repeat-x;
}

.page-item a {
    color: #5e008b;
}

.page-item:hover a {
    color: #5e008b;
}

.page-item.active .page-link {
    background-color: #73AD21;
    border-color: #73AD21;
}

.product-dropdown {
    width: 100%;

}

.product-dropdown a {
    display: inline-block;
    /*border: solid black 1px;*/
    cursor: pointer;
    width: 100%;
    position: relative;
    padding: 1rem;

    margin-top: 1rem;
    /*background-color: white;*/
    color: white;
    /*box-shadow: 5px 5px 5px lightgrey;*/

}


/*DIMENSIONBLOCK*/
.dimension-block {
    font-size: 0.875rem;
    /*padding: 0.25rem;*/
    display: inline-block;
}

.dimension-prepend {
    margin-right: -1px;
    display: inline-block;
}

.dimension-prepend span {
    padding: 0.25rem 0.25rem;
    line-height: 1;
    width: 20px;
    align-items: center;
    font-weight: 400;
    text-align: left;
    background-color: white;
    color: darkgrey;
    border: 1px solid #ced4da;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

div.dimension {
    display: inline-block;
    margin-left: -2px;
}

div.dimension span {
    padding: 0.25rem 0.25rem;
    line-height: 1;
    width: 20px;
    align-items: center;
    font-weight: 400;
    text-align: left;
    background-color: white;
    border: 1px solid #ced4da;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    margin-left: -1px;
}

.product-info-basic {
    display: inline-block;
}

.collapse.show {
    transition: all 0.3s ease-in-out;
}

.product-link.collapsed {
    background-color: #2b2b2b;
    border-radius: 1.5rem;

}

.product-link {
    position: relative;
    background-color: #2b2b2b;
    border-radius: 1.5rem 1.5rem 0 0;

}

div.card-body {
    z-index: 1;
    position: relative;
    background-color: white;
    border: 1px solid black;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

/*TESTING BOXSHOWDOW ANIMATE*/
.product-wrapper {
    position: relative;
    width: 100%;
    display: grid;
}

.product-drop {
    display: inline-block;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: #dcdcdc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
    margin-bottom: 10px;

}

.product-info {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100px;
    background-color: #dcdcdc;
    grid-column: 1;
    grid-row: 2;
    display: none;
    margin-bottom: 10px;
}

.product-wrapper.unfold .product-info {
    display: block;
}

.product-wrapper.unfold .product-drop {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.product-wrapper:hover .product-drop {
    /*border-radius: 15px 15px 0 0 ;*/
    /*display: block;*/
}


.product-drop:hover::after {
    opacity: 1;
}

/*.product-drop::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: 0;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/
/*    transition: opacty 0.3s ease-in-out;*/
/*}*/


.btn-sm {
    font-size: 11px;
}

.fas.fa-external-link-alt {
    margin-left: 0.25rem;
}


/*LOADING*/
#work-in-progress {
    position: fixed;
    width: 100%;
    height: 100%;
    font-size: 150px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    z-index: 200000;
    background-color: #FFFFFF;
}

.work-spinner {
    background-color: rgba(0, 0, 0, 0);
    border: 9px solid rgba(27, 61, 226, 0.9);
    opacity: .9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 120px;
    -webkit-box-shadow: 0 0 35px #1B3DE2;
    box-shadow: 0 0 35px #1B3DE2;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
    -o-animation: spin .5s infinite linear;
    animation: spin .5s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*ICONS*/
.bullseye {
    background: url("/static/products/icons/bullseye_colors.svg");
    background-size: 20px;
    height: 20px;
    width: 20px;
    display: block;
}

/*NAVIGATION*/
.navigation-row {
    background-color: #5e008b;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    /*flex-wrap: nowrap;*/
    /*height: 500px;*/
}

/*.navigation-row > div {*/
/*    display:inline-block;*/
/*    !*margin-left: auto;*!*/
/*    !*margin-right: auto;*!*/
/*}*/


.navigation-row h4 {
    color: white;
}

.navigation-row a:hover {
    text-decoration-color: white;
}

/*HOME styles*/
h1.welcome-message span {
    color: #73AD21;
}

.category-section {
    display: none;
    color: black;
    font-size: 12px;
}

.box-categories.show {
    display: block;
}

.category-section.show {
    display: block;
}

.box-categories {
    background-color: #cbea99;
    margin-top: 8px;
    padding: 10px 30px 2px 30px;
    display: none;
    border-radius: 5px;
    border: 1px solid #d1f09f;
}

.box-categories h4 {
    margin-top: 2px;
    font-size: 15px;
}

.close {
  position: absolute;
  right: 32px;
  /*top: 32px;*/
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.info-icon {
    position: absolute;
    color: white;
    top: 10px;
    right: -10px;
    opacity: 0.5;
}

.info-icon:hover {
    opacity: 1;
}

.about h4 {
    margin-top: 5px;
}

.about {
    background-color: #73AD21;
}
.about p {
    font-size: 1rem;
}
.about h1 {
    margin-top: 10px;
}
.about p, .about h1, .about h4 {
    color: white;
}
.about-space {
    margin-top: 80px;
}