.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.jumbotron {
    background-color: #ec42f5;
}

.btn-primary {
    background-color: lightslategray;
}

#filter-picks {
    background-color: #ec42f5
}

#filter {
    color: green;
}

.item {
    display: flex;
    flex-direction: row;
}

.input-group-text {
    width: 28px;
}

.table-condensed {
    font-size: 10px;
}

.info-block {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;

}

.info-block-2 {
    border-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.info-block-middle {
    border-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.info-block-right {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    position: relative;
}

.searchButton {
    display: block;
    width: 100%;
    border-radius: 0.2rem;
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin-top: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

.searchButton:hover {
    background-color: #7900b3;
}

/*Checkbox search*/
.checkbox-cell {
    width: 50% !important;
    /*text-align: center;*/
}

label {
    margin-left: 18px;
}

label input[type='checkbox'] {
    margin-left: -18px;
}


/*Overall style text*/

body {
    font-family: Arvo, Charcoal, sans-serif;
}

h1 {
    font-size: 40px;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    color: #5e008b;
}


h3 {
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: #5e008b;
}

h4 {
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #5e008b;
    margin: 20px 0.25rem 0.1rem 0;
}

h6 {
    font-size: 15px;
}


/*Tabs and search navigation*/

.tab-content {
    color: #fff;
}

.nav-tabs {
    /*background-color: #ec42f5;*/
    border-bottom: medium none;
    /*border-top: 0.2rem;*/
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center
}


.nav-tabs > a.active {
    background-color: #73AD21 !important;
    border: medium none;
    border-top: 0.2rem;
    color: white !important;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center

}

.nav-tabs > a {
    background-color: white;
    border: medium none;
    border-top: 0.2rem;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-link {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 45px;
}

.nav-link:hover {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #cdfac3;
    height: 45px;
}

/*Table style*/
td {
    position: relative;
    text-align: center;
    overflow-wrap: normal;
}

table {
    table-layout: auto;
    width: 1200px;
}

th {
    text-align: center;
    position: relative;
    white-space: nowrap;
}

.table th {
    padding: 0.5rem 0.25rem 0.75rem 0.25rem;
    font-family: Arial, sans-serif;

}

.table td {
    /*padding-bottom: 6px;*/
    /*padding-top: 6px;*/
    padding: 6px;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
}

.table td .lowercase, .table td .tooltiptext {
    text-transform: none;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #d4edda;
}

.table-condensed {
    font-size: 12px;
}

img.product-thumb {
    width: 30px;
    height: 30px;
}

img.product-thumb:hover {
    cursor: pointer;
}

.popover {
    max-width: 1000px;
}


/*STAFFELDISCOUNT*/
.staffel {
    color: #007bff;
}

.staffel:hover {
    text-decoration: underline;
    cursor: crosshair;
}

.tooltiptext {
    visibility: hidden;
    width: 10em;
    background-color: #73AD21;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px 0 6px 6px;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 65%;
}

td.staffel:hover .tooltiptext {
    visibility: visible;
}

td.staffel .staffel-header {
    font-weight: bold;
    letter-spacing: 1px;
}

/*arrow*/
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
    position: absolute;
    left: 100px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;

    border-left: 60px solid green;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid blue;
}


/*ARROWS*/
div.arrowDown {
    position: absolute;
    margin: auto;
    /*top: 70%;*/
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3px 0 3px;
    border-color: grey transparent transparent transparent;
}

div.arrowUp {
    position: absolute;
    margin: auto;
    /*top: 70%;*/
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 3px 5px 3px;
    border-color: transparent transparent grey transparent;

}


/*FILTER STYLES*/
#filters span {
    font-size: 0.7rem;
}

input.chk {
    height: 12px;
    padding: 0;
}

#filters div {
    height: 20px;
}

#filters div label {
    height: 20px;
}

#filters div label input {
    height: 12px;
    padding: 0;
}

.filter-section {
    /*background-color: #eeeeee;*/
    padding: 20px;
    min-width: 200px;
    z-index: 10;
}

.filter-section a {
    background-color: #73AD21;
    color: white;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem 0 0;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    /*width: available;*/
    font-size: .875rem;
    white-space: normal;
    text-decoration: none;
    display: inline-flex;
}


.filter-section a:hover {
    text-decoration: none;
    color: white;
    background-color: #568219;
}

.filter-section a.active {
    /*background-color: #568219;*/
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    width: auto;
    text-transform: uppercase;
    font-weight: lighter;
}

.filter-section a.active:hover {
    background-color: #73AD21;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    width: auto;
    text-transform: uppercase;
    font-weight: lighter;

}

.filter-section a.deactivate-all {
    background-color: #5e008b;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.filter-section a.deactivate-all::after {
    content: '×';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.filter-section a.deactivate-all:hover {
    background-color: #73AD21;
    border: 1px solid #73AD21;
    color: white;
}

.filter-section div.title {
    position: relative;
}

.filter-section div h4 {
    display: inline-block;
}

.filter-section div a {
    display: inline-block;
    position: absolute;
    /*transform: translate(0, -50%);*/
}

/*.filter-section div, .filter-section a {*/
/*    display: none;*/
/*}*/

/*input[type=checkbox].filter-toggle {*/
/*   position: absolute;*/
/*   display: none;*/
/*}*/

/*label {*/
/*  -webkit-appearance: push-button;*/
/*  -moz-appearance: button;*/
/*  display: block;*/
/*  !*margin: 60px 0 10px 0;*!*/
/*  cursor: pointer;*/
/*}*/

/*input[type=checkbox].filter-toggle:checked ~ .filter-section div a,*/
/*input[type=checkbox].filter-toggle:checked ~ .filter-section a.deactivate-all {*/
/*   display: inline-block;*/
/*}*/

/*input[type=checkbox].filter-toggle:checked ~ .filter-section a {*/
/*    display: inline-flex;*/
/*}*/

/*input[type=checkbox].filter-toggle:checked ~ .filter-section div {*/
/*    display: block;*/
/*}*/


/*FILTER POP-UP*/
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}
.filter-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    bottom:0;
    right:0;
    /*margin: 0 auto; !*horizontally centers div*!*/
    display: none;
}

.filter-pop-up {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    margin-left:200px;
    margin-right:200px;
    margin-top: 500px;
    height: content-box;
}

/*.filter-pop-up input[type=checkbox] {*/
/*    display:none;*/
/*}*/

.filter-section label {
    background-color: #73AD21;
    color: white;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.25rem 0.25rem 0 0;
    border: none;
    cursor: pointer;
    border-radius: 0.2rem;
    /*width: available;*/
    font-size: .875rem;
    white-space: normal;
    text-decoration: none;
    display: inline-flex;
}

.filter-section label:hover {
    text-decoration: none;
    color: white;
    background-color: #568219;
}

.filter-section input[type='checkbox']:checked + label {
    /*background-color: #568219;*/
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    width: auto;
    text-transform: uppercase;
    font-weight: lighter;
}

.filter-section input[type='checkbox']:checked + label:hover {
    background-color: #7900b3;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    letter-spacing: 1px;
    width: auto;
    text-transform: uppercase;
    font-weight: lighter;

}

.filter-section input[type='checkbox'] {
    display: none;
}

.filter-background.active {
    display: block;
}

.filter-section button.deactivate-all {
    background-color: #5e008b;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.filter-section button.deactivate-all::after {
    content: '×';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}



/*SORTING DROPDOWN MENU*/
.orderbtn {
    background-color: #73AD21;
    color: white;
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border-radius: 0.2rem;
    width: 230px;
    font-size: .875rem;
}

.orderOps {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.orderOps-content {
    display: none;
    position: absolute;
    background-color: #73AD21;
    width: 230px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 0.2rem 0.2rem;
    overflow: hidden;
    border: 5px black;
}

.orderOps-content a {
    color: white;
    padding-top: 0.1rem;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: .875rem;
    max-height: 25px;
    text-align: center;
    border-bottom: solid 0.25px;
    border-color: #65991d;

}

.orderOps-content a:hover {
    background-color: #5e008b;
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    /*font-size: 40px;*/
    letter-spacing: 1px;
    text-transform: uppercase;

}

.orderOps:hover .orderOps-content {
    display: block;
}

.orderOps:hover .orderbtn {
    background-color: #568219;
    border-radius: 0.2rem 0.2rem 0 0;
}

/*a.sortOrder {*/
/*}*/

/*.sortOrder {*/
/*    position: relative;*/
/*    background-color: #73AD21;*/
/*    !*border: #73AD21 solid;*!*/
/*    border-radius: 0.2rem;*/
/*    width: 40px;*/
/*    height: 37px;*/
/*    display: inline-block;*/
/*    margin-bottom: 1rem;*/
/*    margin-left: 0.5rem;*/
/*}*/

a.sortOrder {
    margin-top: 0.5rem;
    vertical-align: top;
    position: relative;
    background-color: #73AD21;
    /*border: #73AD21 solid;*/
    border-radius: 0.2rem;
    width: 40px;
    height: 37px;
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.sortOrder:hover {
    background-color: #568219;
}

a.sortOrder i {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


div.sortDown {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 6px 0 6px;
    border-color: white transparent transparent transparent;
}

div.sortUp {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 9px 6px;
    border-color: transparent transparent white transparent;

}

/*PAGE ITEM*/

.pagination-break {
    height: 50%;
    padding: 0.6rem;
    /*border-bottom: dotted #dee2e6 1px;*/
    width: 10px;
    background-image: linear-gradient(to right, #dee2e6 50%, white 20%);
    background-position: bottom;
    background-size: 3px 2px;
    background-repeat: repeat-x;
}

.page-item a {
    color: #5e008b;
}

.page-item:hover a {
    color: #5e008b;
}

.page-item.active .page-link {
    background-color: #73AD21;
    border-color: #73AD21;
}

.product-dropdown {
    width: 100%;

}

.product-dropdown a {
    display: inline-block;
    /*border: solid black 1px;*/
    cursor: pointer;
    width: 100%;
    position: relative;
    padding: 1rem;

    margin-top: 1rem;
    /*background-color: white;*/
    color: white;
    /*box-shadow: 5px 5px 5px lightgrey;*/

}


/*DIMENSIONBLOCK*/
.dimension-block {
    font-size: 0.875rem;
    /*padding: 0.25rem;*/
    display: inline-block;
}

.dimension-prepend {
    margin-right: -1px;
    display: inline-block;
}

.dimension-prepend span {
    padding: 0.25rem 0.25rem;
    line-height: 1;
    width: 20px;
    align-items: center;
    font-weight: 400;
    text-align: left;
    background-color: white;
    color: darkgrey;
    border: 1px solid #ced4da;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}

div.dimension {
    display: inline-block;
    margin-left: -2px;
}

div.dimension span {
    padding: 0.25rem 0.25rem;
    line-height: 1;
    width: 20px;
    align-items: center;
    font-weight: 400;
    text-align: left;
    background-color: white;
    border: 1px solid #ced4da;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    margin-left: -1px;
}

.product-info-basic {
    display: inline-block;
}

.collapse.show {
    transition: all 0.3s ease-in-out;
}

.product-link.collapsed {
    background-color: #2b2b2b;
    border-radius: 1.5rem;

}

.product-link {
    position: relative;
    background-color: #2b2b2b;
    border-radius: 1.5rem 1.5rem 0 0;

}

div.card-body {
    z-index: 1;
    position: relative;
    background-color: white;
    border: 1px solid black;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}

/*TESTING BOXSHOWDOW ANIMATE*/
.product-wrapper {
    position: relative;
    width: 100%;
    display: grid;
}

.product-drop {
    display: inline-block;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: #dcdcdc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
    margin-bottom: 10px;

}

.product-info {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100px;
    background-color: #dcdcdc;
    grid-column: 1;
    grid-row: 2;
    display: none;
    margin-bottom: 10px;
}

.product-wrapper.unfold .product-info {
    display: block;
}

.product-wrapper.unfold .product-drop {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.product-wrapper:hover .product-drop {
    /*border-radius: 15px 15px 0 0 ;*/
    /*display: block;*/
}


.product-drop:hover::after {
    opacity: 1;
}

/*.product-drop::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: 0;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);*/
/*    transition: opacty 0.3s ease-in-out;*/
/*}*/


.btn-sm {
    font-size: 11px;
}

.fas.fa-external-link-alt {
    margin-left: 0.25rem;
}