.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.jumbotron {
    background-color: #ec42f5;
}

.btn-primary {
    background-color: lightslategray;
}

#filter-picks {
    background-color: #ec42f5
}

#filter {
    color: green;
}

.item {
    display: flex;
    flex-direction: row;
}

.input-group-text {
    width: 28px;
}

.table-condensed {
    font-size: 10px;
}

.info-block {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;

}

.info-block-2 {
    border-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.info-block-middle {
    border-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.info-block-right {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}


/*Checkbox search*/
.checkbox-cell {
    width: 50% !important;
    /*text-align: center;*/
}

label {
    margin-left: 18px;
}

label input[type='checkbox'] {
    margin-left: -18px;
}


/*Overall style text*/

body {
    font-family: Arvo, Charcoal, sans-serif;
}

h1 {
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    color: #5e008b;
}


h3 {
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: #5e008b;
}

h6 {
    font-size: 15px;
}


/*Tabs and search navigation*/

.tab-content {
    color: #fff;
}

.nav-tabs {
    /*background-color: #ec42f5;*/
    border-bottom: medium none;
    /*border-top: 0.2rem;*/
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center
}


.nav-tabs > a.active {
    background-color: #73AD21 !important;
    border: medium none;
    border-top: 0.2rem;
    color: white !important;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center

}

.nav-tabs > a {
    background-color: white;
    border: medium none;
    border-top: 0.2rem;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-link {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    height: 45px;
}

.nav-link:hover {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #cdfac3;
    height: 45px;
}

/*Table style*/

table .header-1 {
    width: auto;
    padding: 1em;
    background-color: rgb(222, 226, 230);
    /*text-align: center;*/
    /*white-space: nowrap;*/
}

table .header-2 {
    width: 40px !important;
    /*text-align: center;*/
    /*white-space: nowrap;*/
}

table .content {
    width: 100%;
}

/*table {*/
/*    border-collapse: collapse;*/
/*    border-spacing: 0;*/
/*    width: 100%;*/
/*    border: 1px solid*/
/*}*/

/*arrow*/
.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid black;
    position: relative;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;

    border-left: 60px solid green;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-right: 10px solid blue;
}

/*td .tooltip {*/
/*    !*position: absolute;*!*/
/*    !*display: inline-block;*!*/
/*    !*border-bottom: 1px dotted black;*!*/
/*}*/

td {
    position: relative;
}

.test {
    color: #007bff;
}

.test:hover {
    text-decoration: underline;
}

.tooltiptext {
    visibility: hidden;
    width: 10em;
    background-color: #73AD21;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px 0 6px 6px;
    position: absolute;
    z-index: 1;
    top: 2em;
    right: 107%;
}

td:hover .tooltiptext {
    visibility: visible;
}

/*Filter style*/
#filters span {
    font-size: 0.7rem;
}

input.chk {
    height: 12px;
    padding:0;
}

#filters div {
    height: 20px;
}

#filters div label {
    height: 20px;
}

#filters div label input {
    height: 12px;
    padding:0;
}

.filter-section {
    background-color: #d4edda;
    padding: 20px;
}






