.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.jumbotron {
    background-color: #ec42f5;
}

.btn-primary {
    background-color: lightslategray;
}

#filter-picks {
    background-color: #ec42f5
}

#filter {
    color: green;
}

.item {
    display: flex;
    flex-direction: row;
}

.input-group-text {
    width: 28px;
}

.table-condensed {
    font-size: 10px;
}

.info-block {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;

}

.info-block-2 {
    border-radius: 0.2rem;
    background-color: #73AD21;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}


body {
    font-family: Arvo, Charcoal, sans-serif;
}

h1 {
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    color: #5e008b;
}


h3 {
    font-family: 'Alfa Slab One', Charcoal, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: #5e008b;
}

/*.nav-item-bg-1 {*/
/*    background-color: #303136;*/
/*}*/

.nav-tabs {
}

.tab-content {
    color: #fff;
}

.nav-tabs {
    /*background-color: #ec42f5;*/
    border-bottom: medium none;
    /*border-top: 0.2rem;*/
}

.nav-tabs > a.active {
    background-color: #73AD21 !important;
    border: medium none;
    border-top: 0.2rem;
    color: white !important;
}

.nav-link {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-link:hover {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: #cdfac3;

}

