<div class="box-categories {% if show_initial_category %}show{% endif %}">
    <div class="close"></div>
    {% for category_id, main_category_dict in category_texts.items %}

        <div class="category-section {% if category_id == show_initial_category %}show{% endif %}"
             id="category_{{ category_id }}">

            {% for product_type_id, category_tuple in main_category_dict.items %}
                <div class="box-category-text {% if show_initial_subcategory %}{% if product_type_id != show_initial_subcategory %} hidden{% endif %}{% endif %}">
                    <h4>{{ category_tuple.0 }}</h4>
                    <p>{{ category_tuple.1 }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>
