{% extends 'products/home.html' %}
{% block welcome %}
        <h1 class="welcome-message mt-5">Met BoxGuru is het niet meer nodig om dozen op maat te laten maken!</h1>
        <p>BoxGuru heeft een groot deel van het online aanbod al voor je verzameld. Gebruik de widget hieronder om naar
        een doos te zoeken die aan jouw eisen voldoet zodat je geen doos op maat hoeft te laten maken.
            Voer maten in, of laat de maat weg om het hele dozen assortiment te bekijken. Met BoxGuru hoef je ook voor een perfecte omdoos geen doos meer
        te laten maken. Voer de maten in van het product dat je wilt verpakken en het slimme algoritme van BoxGuru vindt de perfecte doos!</p>
    {% endblock welcome %}
{% block content %}
    {{ block.super }}
{% endblock %}

{% block about %}
{% endblock about %}