{% extends 'base_generic.html' %}

{% block welcome %}

    <h1 class="welcome-message mt-5">Zoek tussen <span>{{ boxes }}</span> dozen en vergelijk het aanbod van
        <span>{{ companies }}</span>
        leveranciers!</h1>
    <p>Gebruik de widget om dozen op maat te zoeken. Bij het zoeken zijn de breedte maat en lengte maat omkeerbaar, dat
        scheelt weer gedoe! Zoek zonder maten in te voeren om het gehele assortiment te bekijken.
        <br> Op zoek naar een omdoos voor een specifiek product? Voer de productmaten en hoeveelheid in. Het algoritme
        van BoxGuru doet de rest!</p>
{% endblock welcome %}


{% block content %}
    {{ block.super }}


    {#    {% include 'products/box_category_texts.html' %}#}

    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            {% include 'products/search_box_forms.html' %}

        </div>
    </div>
    <div class="row about-space">
        {% block about %}

            <div class="col text-center"><h2>OVER BOXGURU</h2></div>
            </div>
            <div class="row about">
            <div class=" col-sm-12 col-md">
                <div class="p-3">
                    <h4>DOZEN OP MAAT</h4>
                    <p>
                        Een doos op maat laten maken betekent vaak offertes aanvragen, hoge opstartkosten en grote
                        minimale
                        bestelhoeveelheden (en dus onnodige voorraadkosten). Het kan een stuk voordeliger zijn om een
                        doos
                        te gebruiken die bij een leverancier op
                        voorraad
                        ligt. Helaas is het vinden van de juiste doos
                        in het enorme online aanbod een vervelende klus. Daarom verzamelt Boxguru het aanbod voor jou.
                        Zoek naar dozen op maat, bewaar interessante dozen en vergelijk het aanbod om de juiste
                        verpakking
                        te vinden.
                    </p>
                </div>
            </div>
            <div class=" col-sm-12 col-md">
                <div class="p-3">
                    <h4>EEN PERFECT PASSENDE OMDOOS</h4>
                    <p>
                        Een omdoos nodig? Een doos op maat kan onnodig duur zijn. Een perfect passende omdoos vinden tussen
                        het
                        enore online aanbod kost erg veel tijd, laat staan om vervolgens de doos met de
                        laagste prijs te vinden. <br>
                        Het algoritme van Boxguru regelt dit voor je. Nadat je de hoeveelheid en de maten van je product hebt ingevoerd, rekenen wij uit
                        welke dozen geschikt zijn. Kies de doos met de kleinste inhoud of die met de laagste prijs.
                    </p>
                </div>
            </div>
        {% endblock about %}

        </div> {% comment %}closing div home content{% endcomment %}
{% endblock content %}

{% block footerspacer %}
    {#                <div class="row footer-spacer"></div>#}

{% endblock %}


