{% extends 'base_generic.html' %}

{% block content %}

    <div class="row d-flex justify-content-center">
        <div class="text-center col-xs-12 col-sm-8">
            <h1 class="welcome-message mt-5">Zoek tussen <span>{{ boxes }}</span> dozen van
                <span>{{ companies }}</span>
                leveranciers!</h1>
            <p>Gebruik de widget om dozen op maat te zoeken,
                of vind een perfect passende omdoos door de maten van het te verpakken product in te
                voeren.</p>
        </div>
    </div>

{#    {% include 'products/box_category_texts.html' %}#}

    <div class="row d-flex justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            {% include 'products/search_box_forms.html' %}

        </div>
    </div>
{% endblock %}


