{% extends "base_generic.html" %}


{% block title %}<title>BoxGuru Beta</title>{% endblock %}


{% block content %}
    <h1>BoxGuru Home</h1>
    <p>Welcome to BoxGuru, a website developed by <em>Manuel Oostveen</em>!</p>
    <h2>Dynamic content</h2>
    <p>BoxGuru has the following record counts:</p>
    <ul>
        <li><strong>Products:</strong> {{ num_products }}</li>
        <li><strong>Product types:</strong> {{ num_producttype }}</li>
        <li><strong>Colors:</strong> {{ num_colors }}</li>
        <li><strong>Wall thicknesses:</strong> {{ num_wallthickness }}</li>
        <li><strong>Products of which the description contains "doos":</strong> {{ num_test }}</li>
        <li><strong>Mailbox boxes:</strong> {{ num_mailbox }}</li>

    </ul>

    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}</p>
{% endblock %}