{% load to_class_name %}
{% if object|to_class_name == 'Product' %}

    <form action="{% url 'like-unlike-product' pk=object.pk %}" method="POST">
        {% csrf_token %}
        <button {% if object.pk in saved_boxes %} class="show-liked-boxes mobile delete" type="submit">VERWIJDER
            </button>
        {% else %} class="show-liked-boxes mobile" type="submit">BEWAAR</button>{% endif %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}#table">
    </form>

{% endif %}
