{% load to_class_name %}
{% if user.is_authenticated and object|to_class_name == 'Product' %}
    {% if user not in object.users.all %}
        <form action="{% url 'like-product' pk=object.pk %}" method="POST">
            {% csrf_token %}
            <button class="show-liked-boxes" type="submit">BEWAAR</button>
            <input type="hidden" name="next" value="{{ request.get_full_path }}#table">
        </form>
    {% else %}
        <form action="{% url 'unlike-product' pk=object.pk %}" method="POST">
            {% csrf_token %}
            <button class="show-liked-boxes delete" type="submit">VERWIJDER</button>
            <input type="hidden" name="next" value="{{ request.get_full_path }}#table">
        </form>
    {% endif %}
{% else %}
    <a href="{% url 'account_login' %}?next={{ request.get_full_path }}">Login</a>
{% endif %}
