{% load to_class_name %}
{% if user.is_authenticated and object|to_class_name == 'Product' %}
    {% if user not in object.users.all %}
        <form action="{% url 'like-product' pk=object.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-success btn-sm" id="like-btn" type="submit">Bewaar</button>
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
        </form>
    {% else %}
        <form action="{% url 'unlike-product' pk=object.pk %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-danger btn-sm" id="like-btn" type="submit">Verwijder</button>
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
        </form>
    {% endif %}
{% else %}
    <a href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a>
{% endif %}
