{% extends "base_generic.html" %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Dozen</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block welcome %}
    <h1>ALLE KARTONNEN DOZEN</h1>
{% endblock %}

{% block content %}
    {{ block.super }}
    {% if categories %}
        <div class="row d-flex justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                {% for object in categories %}
                    <li>
                        <a class="text-uppercase" href="{% url 'browse-maincategory' hoofdcategorie=object.category_url %}">{{ object }}</a>

                    </li>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
