{% load static %}


{#            <div class="d-none d-sm-block col-xl-2 col-lg-3 col-md-4 col-sm-5 mt-5 filter-section">#}
{#                {% for filter_name, filters in filters.items %}#}
{#                    {% if filters|length > 1 %}#}
{#                        {% with filters|first as clear_all %}#}
{#                            <div>#}
{#                                <h4>{{ filter_name }}</h4><a class="{{ clear_all.css_class }}"#}
{#                                                             href="{{ clear_all.url }}"></a>#}
{#                            </div>#}
{#                        {% endwith %}#}
{#                        {% for filter in filters|slice:"1:" %}#}
{#                            <a class="{{ filter.css_class }}"#}
{#                               href="{{ filter.url }}">{{ filter.filter_name }}</a>#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{##}
{#                {% endfor %}#}
{#            </div>#}


{##}
{#<div class="container">#}
{##}
{#    <div class="resultlist">#}
{#        <div class="pagination-block">#}
{#            {% include "products/pagination.html" %}#}
{#        </div>#}
{##}
{#        {% for object in products %}#}
{#            <div class="box ">#}
{#                <a class="cover d-flex justify-content-between" href="{{ object.url }}" target="_blank"#}
{#                   rel="noopener noreferrer">#}
{#                    <div class="p-2">{{ object.display_product_types }}</div>#}
{#                    <div class="p-2">{{ object.company }}</div>#}
{#                    <div class="p-2">{% if object.inner_dim1 %}{{ object.inner_dim1 }}{% endif %}</div>#}
{#                    <div class="p-2">#}
{#                        {% if object.inner_dim2 %}{{ object.inner_dim2 }}{% endif %}{% if object.diameter %}&Oslash#}
{#                            {{ object.diameter }}{% endif %}</div>#}
{#                    <div class="p-2">#}
{#                        {% if object.inner_variable_dimension_MAX %}{{ object.inner_variable_dimension_MIN }}-#}
{#                            {{ object.inner_variable_dimension_MAX }}#}
{#                        {% elif object.inner_dim3 %}{{ object.inner_dim3 }}{% endif %}</div>#}
{#                    <div class="p-2 sm-0">{% if object.max_match %}{{ object.max_match }}%{% endif %}</div>#}
{#                    <div class="p-2">{{ object.wall_thickness }}</div>#}
{#                    <div class="p-2">{{ object.color }}</div>#}
{#                    <div class="p-2">#}
{#                        {% if object.standard_size %}{{ object.standard_size }}{% elif object.bottles %}#}
{#                            {% if object.bottles > 1 %}{{ object.bottles }}#}
{#                                flessen#}
{#                                {% else %}{{ object.bottles }} fles{% endif %}{% endif %}#}
{#                    </div>#}
{#                    <div class="p-2">#}
{#                        € {{ object.price_ex_BTW }}{% if object.popover_tierprices|length > 1 %} - €#}
{#                        {{ object.lowest_price }}{% endif %}#}
{#                        <span class="tooltiptext">#}
{#                                        <table class="popover-table">#}
{#                                        <thead>#}
{#                                        <tr>#}
{#                                        <th>Aantal</th>#}
{#                                        <th></th>#}
{#                                        <th>Prijs</th>#}
{#                                        </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                        {% for tier, price in object.popover_tierprices_dict.items %}#}
{#                                            <tr>#}
{#                                            <td>{{ tier }}</td>#}
{#                                            <td></td>#}
{#                                            <td>{{ price }}</td>{% endfor %}</tr>#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                Aantal Prijs<br>#}
{#                                        {% for tierprice in object.popover_tierprices %}{{ tierprice }}<br>{% endfor %}#}
{#                            </span>#}
{#                    </div>#}
{#                <div>{% include 'products/like_unlike_product_form.html' %}</div>#}
{#                    <div class="p-2">#}
{#                        {% include 'products/like_unlike_product_form.html' %}#}
{#                    </div>#}
{##}
{##}
{#                </a>#}
{#            </div>#}
{##}
{#            <ul>#}
{##}
{##}
{#                <li>#}
{#                    <div class="box">#}
{#                        <a class="cover" href="{{ object.url }}" target="_blank" rel="noopener noreferrer">#}
{#                            <a class="product-thumb" data-toggle="popover-hover"#}
{#                                    {% with 'products/images/'|add:object.product_image as image_static %}#}
{#                               data-img="{% static image_static %}"><img class="product-thumb"#}
{#                                                                         src="{% static image_static %}"#}
{#                                                                         alt="product">{% endwith %}</a>#}
{#                            <span class="product-type">{{ object.display_product_types }}</span>#}
{#                            <span class="original-description">{{ object.description }}</span>#}
{#                            <div class="dimensions">#}
{#                                <span class="width">{% if object.inner_dim1 %}B:{{ object.inner_dim1 }}#}
{#                                    </span>{% endif %}#}
{##}
{#                                <span class="length">{% if object.inner_dim2 %}L:{{ object.inner_dim2 }}{% endif %}#}
{#                                    {% if object.diameter %}&Oslash{{ object.diameter }}{% endif %}</span>#}
{#                                {% if object.inner_variable_dimension_MAX %}#}
{#                                    <span class="var-height">#}
{#                                   H:{{ object.inner_variable_dimension_MIN }}-{{ object.inner_variable_dimension_MAX }}</span>#}
{#                                {% elif object.inner_dim3 %}#}
{#                                    <span class="height">#}
{#                                    H:{{ object.inner_dim3 }}#}
{#                                {% endif %}</span>#}
{##}
{#                            </div>#}
{##}
{##}
{#                            <div class="all-icons">#}
{#                                {% if object.max_match %}#}
{#                                    <div class="match">#}
{#                                    <span class="match info-icon"><i class="bullseye"></i>{{ object.max_match }}%#}
{#                                    <span class="tooltiptext">Zoekmatch</span>#}
{#                                    </span>#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                                <span class="quality info-icon">#}
{#                                <i class="{{ object.wall_thickness }}"></i>#}
{#                                <span class="tooltiptext">Wanddikte:<br>{{ object.wall_thickness }}</span>#}
{#                            </span>#}
{##}
{#                                <span class="color info-icon">#}
{#                                <i class="{{ object.color }}"></i>#}
{#                                <span class="tooltiptext">Kleur:<br>{{ object.color }}</span>#}
{#                            </span>#}
{##}
{#                                {% if object.standard_size %}#}
{#                                    <span class="standard-size info-icon">{{ object.standard_size }}#}
{#                                <span class="tooltiptext">{{ object.standard_size }}</span>#}
{#                                </span>#}
{##}
{#                                {% elif object.bottles %}#}
{#                                    <span class="bottles info-icon">{% if object.bottles > 1 %}{{ object.bottles }}#}
{#                                        flessen#}
{#                                        {% else %}{{ object.bottles }} fles{% endif %}#}
{#                                    </span>#}
{#                                {% else %}#}
{#                                    <span class="empty-info-icon"></span>#}
{#                                {% endif %}#}
{#                            </div>#}
{##}
{#                            <div class="all-icons">#}
{#                            <span class="price">#}
{#                                € {{ object.price_ex_BTW }}{% if object.popover_tierprices|length > 1 %} - {% endif %}#}
{#                            </span>#}
{##}
{#                                <span class="price-staffel info-icon">#}
{#                                {% if object.popover_tierprices|length > 1 %}#}
{#                                    € {{ object.lowest_price }}#}
{#                                    <span class="tooltiptext">#}
{#                                        <table class="popover-table">#}
{#                                        <thead>#}
{#                                        <tr>#}
{#                                        <th>Aantal</th>#}
{#                                        <th></th>#}
{#                                        <th>Prijs</th>#}
{#                                        </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                        {% for tier, price in object.popover_tierprices_dict.items %}#}
{#                                            <tr>#}
{#                                            <td>{{ tier }}</td>#}
{#                                            <td></td>#}
{#                                            <td>{{ price }}</td>{% endfor %}</tr>#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                Aantal Prijs<br>#}
{#                                        {% for tierprice in object.popover_tierprices %}{{ tierprice }}<br>{% endfor %}#}
{#                            </span>#}
{#                                {% endif %}#}
{##}
{#                            </span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                </li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#        <div class="pagination-block">#}
{#            {% include "products/pagination.html" %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}


<div class="resultlist">

    {% if products %}
        <div class="results-mobile">
            <div class="col d-flex justify-content-center">
                <div class="mobile-table-top mt-3">
                    <div class="pagination-bottom-mobile">
                        <a href="{{ liked_filter.url }}"
                           class="show-liked-boxes big">{{ liked_filter.text_alt }}</a>
                    </div>
                    <div class="pagination-bottom-mobile">
                        <div class="pagination-block">
                            {% include "products/pagination.html" %}
                        </div>
                    </div>
                    <div class="pagination-bottom-mobile">

                        <div class="orderOps">
                            <button class="orderbtn small">SORTEER OP:
                                {% if current_sort %}{{ current_sort }}{% endif %}</button>
                            <div class="orderOps-content">
                                <a href="{{ category_header }}">Doos type</a>
                                <a href="{{ width_header }}">Breedte (mm)</a>
                                <a href="{{ length_header }}">Lengte (mm)</a>
                                {% if searched == 'tube' %}
                                    <a href="{{ diameter_header }}">Diameter (mm)</a>{% else %}
                                    <a href="{{ height_header }}">Hoogte (mm)</a>{% endif %}
                                <a href="{{ volume_header }}">Inhoud (L)</a>

                                {% if show_match_header %}
                                    <a href="{{ match_header }}">Zoekmatch</a>{% endif %}
                                {#            <a href="{{ wall_thickness_header }}">Kwaliteit</a>#}
                                {#            <a href="{{ color_header }}">Kleur</a>#}
                                {#            <a href="{{ bottles_header }}">Aantal flesen</a>#}
                                {#            <a href="{{ standard_size_header }}">Standaard formaat</a>#}
                                <a href="{{ price_header }}">Prijs ex. BTW</a>
                                <a href="{{ lowest_price_header }}">Bulkprijs</a>
                            </div>
                        </div>
                        {% if show_sort_order_link %}
                            <a class="sortOrder" href="{{ sort_order_link }}">
                                <div>
                                    <i {% if sort == "DESC" %}class="fas fa-sort-amount-down"
                                       {% else %}class="fas fa-sort-amount-down-alt"{% endif %}></i>
                                </div>
                            </a>
                        {% endif %}
                    </div>


                </div>

            </div>

            {% for object in products %}
                <table class="table-mobile table">
                    {#            <tr>#}
                    {#                <th>Afbeelding</th>#}
                    {#                <td>#}
                    {#                    <a class="product-thumb" data-toggle="popover-hover"#}
                    {#                            {% with 'products/images/'|add:object.product_image as image_static %}#}
                    {#                       data-img="{% static image_static %}"><img class="product-thumb"#}
                    {#                                                                 src="{% static image_static %}"#}
                    {#                                                                 alt="product">{% endwith %}</a>#}
                    {#                </td>#}
                    {#            </tr>#}
                    <tr>

                        <td>
                            <a class="product-thumb" data-toggle="popover-hover"
                                    {% with 'products/images/'|add:object.get_product_image as image_static %}
                               data-img="{% static image_static %}"><img class="product-thumb"
                                                                         src="{% static image_static %}"
                                                                         alt="product">{% endwith %}</a>
                        </td>
                        <td>{{ object.product_type }}
                        </td>
                        <td rowspan="2">{% if show_match_header %}
                            Match: {{ object.max_match }}%
                        {% endif %}</td>
                        {#                <td>{{ object.display_product_types }}#}
                        {#                    <span class="tooltiptext">{{ object.description }}</span></td>#}
                    </tr>
                    <tr>
                        <td {% if object.popover_tierprices|length > 0 %}class="staffel"{% endif %}>
                            €{{ object.price_ex_BTW }}
                            {% if object.popover_tierprices|length > 0 %}
                                - €{{ object.lowest_price }}
                                <div>
                                    <table class="tooltiptext popover-table">
                                        <thead>
                                        <tr>
                                            <th>Aantal</th>
                                            <th></th>
                                            <th>Prijs</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for tier, price in object.popover_tierprices_dict.items %}
                                            <tr>
                                            <td>{{ tier }}</td>
                                            <td></td>
                                            <td>{{ price }}</td>{% endfor %}</tr>
                                        </tbody>
                                    </table>
                                </div>
                                {#                    <span class="tooltiptext"><span class="staffel-header">Aantal | Prijs</span><br>#}
                                {#                        {% for tierprice in object.popover_tierprices %}#}
                                {#                            {{ tierprice }}<br>{% endfor %}</span>#}
                            {% endif %}
                        </td>
                        <td>{% if object.inner_dim1 %}{{ object.inner_dim1 }}{% else %}-{% endif %} &times
                            {% if object.inner_dim2 %}{{ object.inner_dim2 }}{% else %}-{% endif %}
                            &times
                            {% if object.inner_dim3 %}
                                {{ object.inner_dim3 }}{% elif object.inner_variable_dimension_MAX %}
                                {{ object.inner_variable_dimension_MIN }} -
                                {{ object.inner_variable_dimension_MAX }}{% endif %}
                            <span> ({{ object.volume|floatformat }}L)</span>
                        </td>
                    </tr>


                    {#            <tr>#}
                    {#                <th>#}
                    {#                    <a href="{{ width_header }}">B</a>#}
                    {#                    <div {% if order_by == '-inner_dim1' %}class="arrowDown"#}
                    {#                         {% elif order_by == 'inner_dim1' %}class="arrowUp"{% else %}{% endif %}></div>#}
                    {#                </th>#}
                    {#                <td>{{ object.inner_dim1 }}</td>#}
                    {#            </tr>#}
                    {#            <tr>#}
                    {#                <th>#}
                    {#                    <a href="{{ length_header }}">L</a>#}
                    {#                    <div {% if order_by == '-inner_dim2' %}class="arrowDown"#}
                    {#                         {% elif order_by == 'inner_dim2' %}class="arrowUp"{% else %}{% endif %}></div>#}
                    {#                </th>#}
                    {#                <td>{{ object.inner_dim2 }}</td>#}
                    {#            </tr>#}
                    {#            <tr>#}
                    {#                <th>#}
                    {#                    {% if searched == 'tube' %}#}
                    {#                        <a href="{{ diameter_header }}">Diameter</a>{% else %}#}
                    {#                        <a href="{{ height_header }}">H</a>{% endif %}#}
                    {#                    <div {% if order_by == '-inner_dim3' %}class="arrowDown"#}
                    {#                         {% elif order_by == 'inner_dim3' %}class="arrowUp"#}
                    {#                         {% elif order_by == '-diameter' %}class="arrowDown"#}
                    {#                         {% elif order_by == 'diameter' %}class="arrowUp"{% endif %}></div>#}
                    {#                </th>#}
                    {#                <td>#}
                    {#                    {% if object.inner_variable_dimension_MAX %}#}
                    {#                        {{ object.inner_variable_dimension_MIN }}-{{ object.inner_variable_dimension_MAX }}#}
                    {#                    {% elif object.inner_dim3 %}#}
                    {#                        {{ object.inner_dim3 }}#}
                    {#                    {% else %}-#}
                    {#                    {% endif %}#}
                    {#                </td>#}
                    {#            </tr>#}
                    {#            <tr>#}
                    {#                <th>#}
                    {#                    <a href="{{ volume_header }}">Inhoud</a>#}
                    {#                </th>#}
                    {#                <td>{{ object.volume }}L</td>#}
                    {#            </tr>#}

                    <tr>
                        <td>{{ object.color }}
                        </td>
                        <td>{{ object.wall_thickness }}</td>
                        <td rowspan="2">{% include 'products/like_unlike_product_form_cookies.html' %}</td>
                    </tr>
                    {#            <tr>#}
                    {#                <td class="d-none d-sm-table-cell"><a href="{{ bottles_header }}">Flessen</a> /#}
                    {#                    <a href="{{ standard_size_header }}">Formaat</a>#}
                    {#                    <div {% if order_by == '-bottles' or order_by == '-standard_size' %}class="arrowDown"#}
                    {#                         {% elif order_by == 'bottles' or order_by == 'standard_size' %}class="arrowUp"{% else %}{% endif %}></div>#}
                    {#                </td>#}
                    {#                <td class="d-none d-sm-table-cell">#}
                    {#                    {% if object.standard_size %}{{ object.standard_size }}{% elif object.bottles %}#}
                    {#                        {% if object.bottles > 1 %}{{ object.bottles }} flessen#}
                    {#                            {% else %}{{ object.bottles }} fles{% endif %}{% else %}-{% endif %}#}
                    {#                </td>#}
                    {#            </tr>#}
                    {#            <tr>#}
                    {#                <th><a href="{{ price_header }}">Prijs ex. BTW</a>#}
                    {#                    <div {% if order_by == '-price_ex_BTW' %}class="arrowDown"#}
                    {#                         {% elif order_by == 'price_ex_BTW' %}class="arrowUp"{% else %}{% endif %}></div>#}
                    {#                </th>#}
                    {#                <td>€{{ object.price_ex_BTW }}</td>#}
                    {#            </tr>#}
                    {#            <tr>#}
                    {#                <th><a href="{{ lowest_price_header }}">Bulk prijs</a>#}
                    {#                    <div {% if order_by == '-lowest_price' %}class="arrowDown"#}
                    {#                         {% elif order_by == 'lowest_price' %}class="arrowUp"{% else %}{% endif %}></div>#}
                    {#                </th>#}
                    {#                {% if object.popover_tierprices|length > 0 %}#}
                    {#                    <td class="staffel">€{{ object.lowest_price }}#}
                    {#                        <div>#}
                    {#                            <table class="tooltiptext popover-table">#}
                    {#                                <thead>#}
                    {#                                <tr>#}
                    {#                                    <th>Aantal</th>#}
                    {#                                    <th></th>#}
                    {#                                    <th>Prijs</th>#}
                    {#                                </tr>#}
                    {#                                </thead>#}
                    {#                                <tbody>#}
                    {#                                {% for tier, price in object.popover_tierprices_dict.items %}#}
                    {#                                    <tr>#}
                    {#                                    <td>{{ tier }}</td>#}
                    {#                                    <td></td>#}
                    {#                                    <td>{{ price }}</td>{% endfor %}</tr>#}
                    {#                                </tbody>#}
                    {#                            </table>#}
                    {#                        </div>#}
                    {#                    <span class="tooltiptext"><span class="staffel-header">Aantal | Prijs</span><br>#}
                    {#                        {% for tierprice in object.popover_tierprices %}#}
                    {#                            {{ tierprice }}<br>{% endfor %}</span>#}
                    {#                    </td>#}
                    {#                {% else %}#}
                    {#                    <td>€{{ object.lowest_price }} </td>#}
                    {##}
                    {#                {% endif %}#}
                    {#            </tr>#}
                    <tr>
                        <td><a data-collect-url="/ajax/collect_reffered_link/" class="company-link lowercase" href="{{ object.url }}" target="_blank"
                               rel="noopener noreferrer">{{ object.company }}<i
                                class="fas fa-external-link-alt"></i></a></td>
                        <td style="text-transform: none;">
                            {% if object.standard_size %}Geschikt voor:
                                {{ object.standard_size }}{% elif object.bottles %}
                                {% if object.bottles > 1 %}Geschikt voor: {{ object.bottles }} flessen
                                {% else %}Geschikt voor: {{ object.bottles }} fles{% endif %}{% else %}-{% endif %}
                        </td>
                    </tr>

                </table>
            {% endfor %}
            <div class="pagination-bottom-mobile">
                <div class="pagination-block">
                    {% include "products/pagination.html" %}
                </div>
            </div>
        </div>
    {% elif request.GET.liked %}
        <div class="results-mobile">

            {% autoescape off %}d
                {{ saved_boxes_message }}
            {% endautoescape %}

            {% if request.GET.liked != '2' %}
                <a href="{{ liked_filter.url }}"
                   class="show-liked-boxes big">{{ liked_filter.text_alt }}</a>
            {% endif %}
        </div>
    {% endif %}


    <div class="table-wrapper">
        <div class="row">
            {#            <div class="col-lg-0 col-1"></div>#}
            <div class="col-md-3 col-4 filter-col">
                <div class="product-filter-normal">
                    {% include 'products/filters_desktop.html' %}
                </div>
            </div>
            <div class="col-8 col-lg-8">
                {% if no_search %}
                {% else %}
                    <div class="table-top-wrap">
                        <h4 class="filter-title">RESULTATEN:{% if products %}
                            <span> {{ products_found }}</span>{% else %}
                            <span class="no-results"> 0</span>{% endif %}</h4>

                        <div class="pagination-block">
                            {% include "products/pagination.html" %}
                        </div>
                    </div>
                {% endif %}
                {% if not products and request.GET.liked %}
                    {% autoescape off %}
                        {{ saved_boxes_message }}
                    {% endautoescape %}
                    {% if request.GET.liked != '2' %}
                        <a href="{{ liked_filter.url }}"
                           class="show-liked-boxes big">{{ liked_filter.text_alt }}</a>
                    {% endif %}
                {% endif %}
                {% if products %}
                    <table class="table table-center">
                        <thead>
                        <tr>
                            <th>
                                <a href="{{ liked_filter.url }}" class="show-liked-boxes">{{ liked_filter.text }}</a>
                            </th>
                            <th rowspan="2">afb.</th>
                            <th rowspan="2"><a href="{{ category_header }}">Categorie</a>
                                <div {% if order_by == '-product_type' %}class="arrowDown"
                                     {% elif order_by == 'product_type' %}class="arrowUp"{% else %}{% endif %}></div>
                            </th>
                            {#        <th>#}
                            {#            Omschrijving#}
                            {#        </th>#}
                            <th>
                                <a href="{{ width_header }}">Breedte</a>
                                <div {% if order_by == '-inner_dim1' %}class="arrowDown"
                                     {% elif order_by == 'inner_dim1' %}class="arrowUp"{% else %}{% endif %}></div>
                            </th>
                            <th>
                                <a href="{{ length_header }}">Lengte</a>
                                <div {% if order_by == '-inner_dim2' %}class="arrowDown"
                                     {% elif order_by == 'inner_dim2' %}class="arrowUp"{% else %}{% endif %}></div>
                            </th>
                            <th>
                                {% if searched == 'tube' %}
                                    <a href="{{ diameter_header }}">Diameter</a>{% else %}
                                    <a href="{{ height_header }}">Hoogte</a>{% endif %}
                                <div {% if order_by == '-inner_dim3' %}class="arrowDown"
                                     {% elif order_by == 'inner_dim3' %}class="arrowUp"
                                     {% elif order_by == '-diameter' %}class="arrowDown"
                                     {% elif order_by == 'diameter' %}class="arrowUp"{% endif %}></div>
                            </th>

                            <th>
                                <a href="{{ volume_header }}">Inhoud</a>
                            </th>

                            {% if show_match_header %}
                                <th><a href="{{ match_header }}">Zoekmatch</a>
                                    <div {% if order_by == '-max_match' %}class="arrowDown"
                                         {% elif order_by == 'max_match' %}class="arrowUp"{% else %}{% endif %}></div>
                                </th>{% endif %}
                            <th><a href="{{ wall_thickness_header }}">Kwaliteit</a>
                                <div {% if order_by == '-wall_thickness' %}class="arrowDown"
                                     {% elif order_by == 'wall_thickness' %}class="arrowUp"{% else %}{% endif %}></div>
                            </th>
                            <th><a href="{{ color_header }}">Kleur</a>
                                <div {% if order_by == '-color' %}class="arrowDown"
                                     {% elif order_by == 'color' %}class="arrowUp"{% else %}{% endif %}></div>
                            </th>
                            <th class="d-none d-sm-table-cell"><a href="{{ bottles_header }}">Flessen</a> / <br>
                                <a href="{{ standard_size_header }}">Formaat</a>
                                <div {% if order_by == '-bottles' or order_by == '-standard_size' %}class="arrowDown"
                                     {% elif order_by == 'bottles' or order_by == 'standard_size' %}class="arrowUp"{% else %}{% endif %}></div>
                            </th>
                            <th><a href="{{ price_header }}">Prijs ex. BTW</a>
                                <div {% if order_by == '-price_ex_BTW' %}class="arrowDown"
                                     {% elif order_by == 'price_ex_BTW' %}class="arrowUp"{% else %}{% endif %}></div>
                            </th>
                            <th><a href="{{ lowest_price_header }}">Bulk prijs</a>
                                <div {% if order_by == '-lowest_price' %}class="arrowDown"
                                     {% elif order_by == 'lowest_price' %}class="arrowUp"{% else %}{% endif %}></div>
                            </th>
                            <th><a href="{{ company_header }}">Producent / Productlink</a>
                                <div {% if order_by == '-company' %}class="arrowDown"
                                     {% elif order_by == 'company' %}class="arrowUp"{% else %}{% endif %}></div>
                            </th>

                        </tr>


                        </thead>
                        <tbody>

                        {% for object in products %}

                            <tr>
                                <td>{% include 'products/like_unlike_product_form_cookies.html' %}</td>
                                <td>
                                    <a class="product-thumb" data-toggle="popover-hover"
                                            {% with 'products/images/'|add:object.get_product_image as image_static %}
                                       data-img="{% static image_static %}"><img class="product-thumb"
                                                                                 src="{% static image_static %}"
                                                                                 alt="product">{% endwith %}</a>
                                </td>
                                <td class="staffel">{{ object.display_product_types }}
                                    <span class="tooltiptext">{{ object.description }}</span></td>
                                <td>{% if object.inner_dim1 %}{{ object.inner_dim1 }}{% else %}-{% endif %}</td>
                                <td>{% if searched == 'tube' %}{{ object.inner_dim2 }}
                                    {{ object.inner_variable_dimension_MIN }}-
                                    {{ object.inner_variable_dimension_MAX }}{% else %}
                                    {% if object.inner_dim2 %}{{ object.inner_dim2 }}{% else %}-
                                    {% endif %}{% endif %}</td>
                                <td>{% if searched == 'tube' %}&Oslash{{ object.diameter }}{% else %}
                                    {% if object.inner_variable_dimension_MAX %}
                                        {{ object.inner_variable_dimension_MIN }}-
                                        {{ object.inner_variable_dimension_MAX }}
                                    {% elif object.inner_dim3 %}
                                        {{ object.inner_dim3 }}
                                    {% else %}-
                                    {% endif %}{% endif %}</td>
                                <td>{{ object.volume|floatformat }}L</td>
                                {% if show_match_header %}
                                    <td>{{ object.max_match }}%</td>{% endif %}
                                <td>{{ object.wall_thickness }}</td>
                                <td>{{ object.color }}</td>
                                <td class="d-none d-sm-table-cell">
                                    {% if object.standard_size %}{{ object.standard_size }}{% elif object.bottles %}
                                        {% if object.bottles > 1 %}{{ object.bottles }} flessen
                                            {% else %}{{ object.bottles }} fles{% endif %}{% else %}-{% endif %}
                                </td>
                                <td>€{{ object.price_ex_BTW }}</td>
                                {% if object.popover_tierprices|length > 0 %}
                                    <td class="staffel">€{{ object.lowest_price }}
                                        <div>
                                            <table class="tooltiptext popover-table">
                                                <thead>
                                                <tr>
                                                    <th>Aantal</th>
                                                    <th></th>
                                                    <th>Prijs</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for tier, price in object.popover_tierprices_dict.items %}
                                                    <tr>
                                                    <td>{{ tier }}</td>
                                                    <td></td>
                                                    <td>{{ price }}</td>{% endfor %}</tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        {#                    <span class="tooltiptext"><span class="staffel-header">Aantal | Prijs</span><br>#}
                                        {#                        {% for tierprice in object.popover_tierprices %}#}
                                        {#                            {{ tierprice }}<br>{% endfor %}</span>#}
                                    </td>
                                {% else %}
                                    <td>€{{ object.lowest_price }} </td>

                                {% endif %}
                                <td><a data-collect-url="/ajax/collect_reffered_link/" class="lowercase company-link" href="{{ object.url }}" target="_blank"
                                       rel="noopener noreferrer">{{ object.company }}<i
                                        class="fas fa-external-link-alt"></i></a></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination-bottom">
                        <div></div>
                        <div class="pagination-block">
                            {% include "products/pagination.html" %}
                        </div>
                        <div></div>
                    </div>
                {% endif %}
            </div>
            {#            <div class="col-1"></div>#}
        </div>
    </div>

</div>

{#{% endif %}#}




