{% extends "base_generic.html" %}
{% load verbose_names %}
{% load field_values %}
{% load static %}
{% load text_helpers %}


{#{% block navigation %}#}
{#{% endblock %}#}
{% block title %}
    {% if category_name %}
        {{ category_name|title }} - BoxGuru
    {% else %}
        Alle dozen en verzendverpakkingen - BoxGuru
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
    {% if breadcrumb or category_name %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'categories' %}">Dozen</a></li>
            {% if breadcrumb %}
                <li class="breadcrumb-item"><a
                        href="{% url 'browse-maincategory' breadcrumb.0 %}">{{ breadcrumb.1 }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">
                {% if category_name %}{{ category_name }}{% else %}Zoek{% endif %}</li>
        </ol>
    </nav>
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {% if not category_name %}
        <div class="row d-flex justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
                {% include 'products/search_box_forms.html' %}
            </div>
        </div>
    {% endif %}

    {% if no_search %}
    {% else %}

        <a id="filter"></a>

        <div class="product-filter-mobile">
            <div class="filter-title">
                <h2 class="category-name">{{ category_name }}</h2>
                {% if sub_category_links %}
                    <div class="sub-cat-links mobile">
                        {% if sub_category_links %}
                            {% for category_tuple in sub_category_links %}
                                <div class="dropdown"><a
                                        href="{% url 'browse-subcategory' main_category_raw_parameter category_tuple.2 %}">
                                    <button class="dropbtn">{{ category_tuple.1 }}</button>
                                </a></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="about-category-section">
                    <div class='about-cat-text'>
                        {% if show_initial_subcategory %}{{ show_initial_subcategory|small_text_subcategory }}
                            {% elif show_initial_category %}{{ show_initial_category|small_text_maincategory }}
                        {% endif %}
                    </div>
                </div>
                <h4 class="mb-3 filter-title center">AANTAL DOZEN:{% if products %}
                    <span> {{ products_found }}</span>{% else %}
                    <span class="no-results"> 0</span>{% endif %}</h4>
            </div>
            {% include 'products/filters.html' %}
        </div>
    {% endif %}

    <a id="table"></a>
    {% include 'products/product_table.html' %}

{% endblock %}

{% block seo %}
    {% if category_name %}
        <div class="about-category-section">
            <div>
                <h4>Over {{ category_name }}</h4>
                <div class='about-cat-text'>
                    {% if show_initial_subcategory %}{{ show_initial_subcategory|seo_text_subcategory }}
                        {% elif show_initial_category %}{{ show_initial_category|seo_text_maincategory }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}


{% endblock seo %}



{% block js %}

    <poep></poep>
    <script>
        // Script to store selected tab when refreshing

        $('a[data-toggle="tab"]').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('a[data-toggle="tab"]').on("show.bs.tab", function (e) {
            var id = $(e.target).attr("href");
            sessionStorage.setItem('selectedTab', id)
        });

        var selectedTab = sessionStorage.getItem('selectedTab');
        if (selectedTab != null) {
            $('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
        }

    </script>

    <script>
        function getCheckedBoxes(checkboxName) {
            var checkboxes, checkboxesChecked;
            checkboxes = document.getElementsByName(checkboxName);
            checkboxesChecked = [];

            for (i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    checkboxesChecked.push(checkboxes[i]);
                }
            }
            return checkboxesChecked;
        }

        function checkCell(cellText, wordArray) {
            var flag;
            flag = false;
            for (word of wordArray) {
                flag = word === cellText;
                if (flag === true) {
                    break;
                }

            }
            return flag
        }

        function checkPassArray(value) {
            return value
        }

        function refreshData(checkboxeschecked) {
            var table, tr, cellText, td, checkboxTextArray;
            table = document.getElementById('productTable');
            tr = table.getElementsByTagName('tr');
            checkboxTextArray = [];
            columnCheckArray = [];

            for (i = 0; i < checkboxeschecked.length; i++) {
                var checkbox = checkboxeschecked[i];
                text = checkbox.parentNode.textContent.trim().toUpperCase();
                checkboxTextArray.push(text);
                if (!(columnCheckArray.includes(checkbox.value))) {
                    columnCheckArray.push(checkbox.value)
                }
            }

            // Iterate over every column row
            for (i = 1; i < tr.length; i++) {
                passArray = [];
                td = tr[i].getElementsByTagName('td');
                for (const column of columnCheckArray) {
                    td_checked = td[column];
                    cellText = td_checked.textContent || td_checked.innerText;
                    cellText = cellText.trim().toUpperCase();
                    passArray.push(checkCell(cellText, checkboxTextArray))
                }
                if (passArray.every(checkPassArray)) {
                    tr[i].style.display = ""
                } else {
                    tr[i].style.display = "none"
                }
            }
        }

        // Script that gets inner text from checkbox
        $('input[name=filter-checkbox]').change(function () {
            var checkedBoxes = getCheckedBoxes('filter-checkbox');
            refreshData(checkedBoxes);
        });

    </script>


    <script>
        $('.product-wrapper').click(function () {
            if ($(this).hasClass('unfold')) {
                $(this).removeClass('unfold');
            } else {
                $(this).addClass('unfold');
            }
        })
    </script>

    <script>
        // popovers initialization - on hover
        $('[data-toggle="popover-hover"]').popover({
            html: true,
            trigger: 'click',
            placement: 'bottom',
            content: function () {
                return '<img src="' + $(this).data('img') + '"' + '/>';
            }
        });

        $("html").on("mouseup", function (e) {
            var l = $(e.target);
            if (l[0].className.indexOf("popover") === -1) {
                $(".popover").each(function () {
                    $(this).popover("hide");
                });
            }
        });
    </script>

    <script>
        $('#showfilter').click(function () {
                $('.filter-background').show();
                $('.filter-pop-up').show();
                {#$('body').addClass('stop-scrolling')#}
            }
        );

        $('.close-filters').click(function () {
                $('.filter-background').hide();
                $('.filter-pop-up').hide();
                {#$('body').removeClass('stop-scrolling');#}
            }
        );

        $('.filter-background').click(function () {
            $('.filter-background').hide();
            $('.filter-pop-up').hide();
            {#$('body').removeClass('stop-scrolling');#}
        })
    </script>

    <script>
        {#UNCHECK FILTERS#}
        $('button.uncheck-button').click(function () {
            $(this).parent().next().children('input').prop('checked', false);
        });

    </script>


    <script>
        $(function () {    // Makes sure the code contained doesn't run until
            //     all the DOM elements have loaded

            $('#id_product_type__main_category').change(function () {

                if ($(this).val() === '6') {
                    $('.var-height-box-show').hide();
                    console.log($(this).val());

                } else {
                    $('.var-height-box-show').show()
                }

            });

        });
    </script>


    <script>
        $(".js-range-slider").ionRangeSlider();
    </script>

    <script>
        $(".del-meas, .del-meas-2").click(
            function () {
                var name = $(this).data('target');
                var reset_min = parseInt($(this).data('from'));
                var reset_max = parseInt($(this).data('to'));
                var my_range = $('input[data-name="' + name + '"]').data("ionRangeSlider");
                my_range.update({
                    from: reset_min,
                    to: reset_max
                })
            }
        );

    </script>

    {% comment %} Javascript for ajax call to save click in database {% endcomment %}
    <script>
        $('.js-company-link').click(function () {
            var clicked_link = $(this).attr('href');
            $.ajax({
                url: $(this).attr('data-collect-url'),
                data: {
                    'link': clicked_link
                },
                dataType: 'json',
                success: function (data) {
                    alert(data.message)
                }
            });
        });
    </script>




{% endblock js %}
