{% extends "base_generic.html" %}
{% load verbose_names %}
{% load field_values %}
{% load static %}

{#{% block navigation %}#}
{#{% endblock %}#}

{% block content %}

    <div class="row d-flex justify-content-center">

        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">

            <h1 class="pt-3">..zoekkk..</h1>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link col small active" id="nav-home-tab"
                       data-toggle="tab"
                       href="#nav-dozen" role="tab"
                       aria-controls="nav-home" aria-selected="true">ZOEK DOZEN OP MAAT</a>
                    <a class="nav-item nav-link col small" id="nav-fitproduct-tab" data-toggle="tab"
                       href="#nav-fitproduct"
                       role="tab"
                       aria-controls="nav-fitproduct" aria-selected="false">ZOEK OP PRODUCT MAAT</a>
                </div>
            </nav>


            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane show active" id="nav-dozen" role="tabpanel" aria-labelledby="nav-home-tab">
                    <form action="/catalog/search" method="get">

                        <div class="row info-block p-2">
                            <div class="col">
                                <h4 class="text-center text-white m-2">TYPE DOOS</h4>
                                <div class="col-lg">
                                    <div class="mb-2">
                                        {{ box_form.product_type__main_category }}
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="row info-block-2 mt-2 p-2">
                            <div class="col">

                                <h4 class="text-center text-white m-2">AFMETINGEN</h4>

                                <div class="col-lg">
                                    <div class="input-group mb-2 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">B</span>
                                        </div>
                                        {{ box_form.width }}
                                    </div>
                                </div>

                                <div class="col-lg">
                                    <div class="input-group mb-2 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">L</span>
                                        </div>
                                        {{ box_form.length }}
                                    </div>
                                </div>

                                <div class="col-lg">
                                    <div class="input-group mb-3 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">H</span>
                                        </div>
                                        {{ box_form.height }}
                                    </div>
                                    <div>
                                        <h4 class="text-center text-white m-2">VARIABELE HOOGTE?</h4>
                                        <div class="mb-2">
                                            {{ box_form.variable_height }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="searchButton" type="submit" value="ZOEK">
                        <input type="hidden" name="form" value="box">
                        <input type="hidden" name="initial_search" value="1">
                    </form>

                </div>


                <div class="tab-pane show" id="nav-fitproduct" role="tabpanel" aria-labelledby="nav-fitproduct-tab">
                    <form action="/catalog/search" method="get">


                        <div class="row info-block-right p-2">
                            <div class="col">

                                {{ fit_product_form.errors }}
                                <h4 class="text-center text-white m-2">RECHTHOEKIG OF ROND PRODUCT?</h4>

                                <div class="col-lg">
                                    <div class="input-group mb-2">
                                        {{ fit_product_form.rectangular_cylindrical }}
                                    </div>
                                </div>

                                <h4 class="text-center text-white m-2">AFMETINGEN PRODUCT</h4>

                                <div class="col-lg" id="diameter_container">
                                    <div class="input-group mb-2 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">&Oslash</span>
                                        </div>
                                        {{ fit_product_form.product_diameter }}
                                    </div>
                                </div>


                                <div class="col-lg" id="width_container">
                                    <div class="input-group mb-2 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">B</span>
                                        </div>
                                        {{ fit_product_form.product_width }}
                                    </div>
                                </div>

                                <div class="col-lg" id="length_container">
                                    <div class="input-group mb-2 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">L</span>
                                        </div>
                                        {{ fit_product_form.product_length }}
                                    </div>
                                </div>


                                <div class="col-lg" id="height_container">
                                    <div class="input-group mb-3 input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">H</span>
                                        </div>
                                        {{ fit_product_form.product_height }}
                                    </div>


                                    <div>
                                        <h4 class="text-center text-white m-2">AANTAL PRODUCTEN IN DE DOOS</h4>
                                        <div class="input-group mb-3 input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">n</span>
                                            </div>
                                            {{ fit_product_form.amount_of_products_in_box }}
                                        </div>

                                        <h4 class="text-center text-white m-2">OVERIG</h4>
                                        {{ fit_product_form.no_tipping }}
                                        {{ fit_product_form.no_stacking }}
                                    </div>
                                </div>

                            </div>
                        </div>

                        <input class="searchButton" type="submit" value="ZOEK">
                        <input type="hidden" name="form" value="fitbox">
                        <input type="hidden" name="initial_search" value="1">

                    </form>
                </div>
            </div>

            {% if no_search %}
            {% else %}

                <div class="filter-title">
                    <a id="filter"></a>
                    <h4>RESULTATEN:{% if products %}<span> {{ products_found }}</span>{% else %}
                        <span class="no-results"> 0</span>{% endif %}</h4>
                </div>
            {% endif %}
        </div>
    </div>
    {% if products %}

        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <div class="text-center">

                    <h4>FILTERS</h4>
                    <div class="filter-section">
                        {% for filter_name, filters in filters.items %}
                            {% if filters|length > 1 %}
                                {% with filters|first as clear_all %}
                                    <div>
                                        <h4>{{ filter_name }}</h4><a class="{{ clear_all.css_class }}"
                                                                     href="{{ clear_all.url }}"></a>
                                    </div>
                                {% endwith %}
                                {% for filter in filters|slice:"1:" %}
                                    <a class="{{ filter.css_class }}"
                                       href="{{ filter.url }}">{{ filter.filter_name }} {{ filter.disabled }}</a>
                                {% endfor %}
                            {% endif %}

                        {% endfor %}


                    </div>
                    {% if clear_all_filters_url %}
                        <div class="filter-section">
                            <a class="filter-reset" href="{{ clear_all_filters_url }}#filter">reset alle
                                filters</a>
                        </div>
                    {% endif %}

                </div>

                <a id="table"></a>

            </div>
        </div>
    {% endif %}

    {% include 'products/product_table.html' %}

{% endblock %}

{% block js %}
    <script>
        // Script to store selected tab when refreshing

        $('a[data-toggle="tab"]').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('a[data-toggle="tab"]').on("show.bs.tab", function (e) {
            var id = $(e.target).attr("href");
            sessionStorage.setItem('selectedTab', id)
        });

        var selectedTab = sessionStorage.getItem('selectedTab');
        if (selectedTab != null) {
            $('a[data-toggle="tab"][href="' + selectedTab + '"]').tab('show');
        }

    </script>

    <script>
        function getCheckedBoxes(checkboxName) {
            var checkboxes, checkboxesChecked;
            checkboxes = document.getElementsByName(checkboxName);
            checkboxesChecked = [];

            for (i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    checkboxesChecked.push(checkboxes[i]);
                }
            }
            return checkboxesChecked;
        }

        function checkCell(cellText, wordArray) {
            var flag;
            flag = false;
            for (word of wordArray) {
                flag = word === cellText;
                if (flag === true) {
                    break;
                }

            }
            return flag
        }

        function checkPassArray(value) {
            return value
        }

        function refreshData(checkboxeschecked) {
            var table, tr, cellText, td, checkboxTextArray;
            table = document.getElementById('productTable');
            tr = table.getElementsByTagName('tr');
            checkboxTextArray = [];
            columnCheckArray = [];

            for (i = 0; i < checkboxeschecked.length; i++) {
                var checkbox = checkboxeschecked[i];
                text = checkbox.parentNode.textContent.trim().toUpperCase();
                checkboxTextArray.push(text);
                if (!(columnCheckArray.includes(checkbox.value))) {
                    columnCheckArray.push(checkbox.value)
                }
            }

            // Iterate over every column row
            for (i = 1; i < tr.length; i++) {
                passArray = [];
                td = tr[i].getElementsByTagName('td');
                for (const column of columnCheckArray) {
                    td_checked = td[column];
                    cellText = td_checked.textContent || td_checked.innerText;
                    cellText = cellText.trim().toUpperCase();
                    passArray.push(checkCell(cellText, checkboxTextArray))
                }
                if (passArray.every(checkPassArray)) {
                    tr[i].style.display = ""
                } else {
                    tr[i].style.display = "none"
                }
            }
        }

        // Script that gets inner text from checkbox
        $('input[name=filter-checkbox]').change(function () {
            var checkedBoxes = getCheckedBoxes('filter-checkbox');
            refreshData(checkedBoxes);
        });

    </script>


    <script>
        $('.product-wrapper').click(function () {
            if ($(this).hasClass('unfold')) {
                $(this).removeClass('unfold');
            } else {
                $(this).addClass('unfold');
            }
        })
    </script>

    <script>
        // popovers initialization - on hover
        $('[data-toggle="popover-hover"]').popover({
            html: true,
            trigger: 'click',
            placement: 'bottom',
            content: function () {
                return '<img src="' + $(this).data('img') + '"' + '/>';
            }
        });

        $("html").on("mouseup", function (e) {
            var l = $(e.target);
            if (l[0].className.indexOf("popover") === -1) {
                $(".popover").each(function () {
                    $(this).popover("hide");
                });
            }
        });
    </script>

    <script>
        $('#showfilter').click(function () {
                $('.filter-background').show();
                $('.filter-pop-up').show();
                {#$('body').addClass('stop-scrolling')#}
            }
        );

        $('.close-filters').click(function () {
                $('.filter-background').hide();
                $('.filter-pop-up').hide();
                {#$('body').removeClass('stop-scrolling');#}
            }
        );

        $('.filter-background').click(function () {
            $('.filter-background').hide();
            $('.filter-pop-up').hide();
            {#$('body').removeClass('stop-scrolling');#}
        })
    </script>

    <script>
        {#UNCHECK FILTERS#}
        $('button.uncheck-button').click(function () {
            $(this).parent().next().children('input').prop('checked', false);
        });

    </script>


    <script>
        $(function () {    // Makes sure the code contained doesn't run until
            //     all the DOM elements have loaded

            $('#id_product_type__main_category').change(function () {
                if ($(this).val() === '6') {
                    $('.var-height-box-show').hide();

                } else {
                    $('.var-height-box-show').show()
                }

            });

        });
    </script>


    <script>
        $(function () {
            $('#id_rectangular_cylindrical').change(function () {

                if ($(this).val() === '1') {
                    $('#diameter_container').toggle();
                    $('#id_product_diameter').prop('required', true);

                    $('#width_container').toggle();
                    $('#length_container').toggle();
                    $('#id_product_width').removeAttr('required');
                    $('#id_product_length').removeAttr('required');

                } else {
                    $('#diameter_container').toggle();
                    $('#id_product_diameter').removeAttr('required');

                    $('#width_container').toggle();
                    $('#id_product_width').prop('required', true);

                    $('#length_container').toggle();
                    $('#id_product_length').prop('required', true);

                }
            })
        })
    </script>

    <script>
        $(document).ready(function () {
                if ($('#id_rectangular_cylindrical').val() === '1') {
                    $('#diameter_container').show();
                    $('#id_product_diameter').prop('required', true);

                    $('#width_container').hide();
                    $('#length_container').hide();
                    $('#id_product_width').removeAttr('required');
                    $('#id_product_length').removeAttr('required');
                } else {
                    $('#diameter_container').hide();
                    $('#id_product_diameter').removeAttr('required');

                    $('#width_container').show();
                    $('#id_product_width').prop('required', true);

                    $('#length_container').show();
                    $('#id_product_length').prop('required', true);

                }
            }
        )
    </script>




{% endblock %}
